In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [12]:
spark.sql("select 2 + 2 as test").show()

+---+----+
| id|test|
+---+----+
|  0|   4|
|  1|   4|
|  2|   4|
|  3|   4|
|  4|   4|
+---+----+

In [14]:
spark.sql("select id from range(5)").show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [15]:
spark.range(5).show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [37]:
spark.range(5).show(2)

+---+
| id|
+---+
|  0|
|  1|
+---+
only showing top 2 rows

In [43]:
spark.createDataFrame([(1, "ddd"), (2, "fff")], ["col_one","col_two"]).show()

+-------+-------+
|col_one|col_two|
+-------+-------+
|      1|    ddd|
|      2|    fff|
+-------+-------+

In [44]:
rows = [(num, "a" * num) for num in range(20, 40)]
rows

[(20, 'aaaaaaaaaaaaaaaaaaaa'),
 (21, 'aaaaaaaaaaaaaaaaaaaaa'),
 (22, 'aaaaaaaaaaaaaaaaaaaaaa'),
 (23, 'aaaaaaaaaaaaaaaaaaaaaaa'),
 (24, 'aaaaaaaaaaaaaaaaaaaaaaaa'),
 (25, 'aaaaaaaaaaaaaaaaaaaaaaaaa'),
 (26, 'aaaaaaaaaaaaaaaaaaaaaaaaaa'),
 (27, 'aaaaaaaaaaaaaaaaaaaaaaaaaaa'),
 (28, 'aaaaaaaaaaaaaaaaaaaaaaaaaaaa'),
 (29, 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaa'),
 (30, 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'),
 (31, 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'),
 (32, 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'),
 (33, 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'),
 (34, 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'),
 (35, 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'),
 (36, 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'),
 (37, 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'),
 (38, 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'),
 (39, 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')]

In [45]:
rows = [(num, "a" * num) for num in range(20, 40)]
spark.createDataFrame(rows).show()

+---+--------------------+
| _1|                  _2|
+---+--------------------+
| 20|aaaaaaaaaaaaaaaaaaaa|
| 21|aaaaaaaaaaaaaaaaa...|
| 22|aaaaaaaaaaaaaaaaa...|
| 23|aaaaaaaaaaaaaaaaa...|
| 24|aaaaaaaaaaaaaaaaa...|
| 25|aaaaaaaaaaaaaaaaa...|
| 26|aaaaaaaaaaaaaaaaa...|
| 27|aaaaaaaaaaaaaaaaa...|
| 28|aaaaaaaaaaaaaaaaa...|
| 29|aaaaaaaaaaaaaaaaa...|
| 30|aaaaaaaaaaaaaaaaa...|
| 31|aaaaaaaaaaaaaaaaa...|
| 32|aaaaaaaaaaaaaaaaa...|
| 33|aaaaaaaaaaaaaaaaa...|
| 34|aaaaaaaaaaaaaaaaa...|
| 35|aaaaaaaaaaaaaaaaa...|
| 36|aaaaaaaaaaaaaaaaa...|
| 37|aaaaaaaaaaaaaaaaa...|
| 38|aaaaaaaaaaaaaaaaa...|
| 39|aaaaaaaaaaaaaaaaa...|
+---+--------------------+

In [40]:
rows = [(num, "a" * num) for num in range(20, 40)]
spark.createDataFrame(rows).show(truncate=False)

+---+---------------------------------------+
|_1 |_2                                     |
+---+---------------------------------------+
|20 |aaaaaaaaaaaaaaaaaaaa                   |
|21 |aaaaaaaaaaaaaaaaaaaaa                  |
|22 |aaaaaaaaaaaaaaaaaaaaaa                 |
|23 |aaaaaaaaaaaaaaaaaaaaaaa                |
|24 |aaaaaaaaaaaaaaaaaaaaaaaa               |
|25 |aaaaaaaaaaaaaaaaaaaaaaaaa              |
|26 |aaaaaaaaaaaaaaaaaaaaaaaaaa             |
|27 |aaaaaaaaaaaaaaaaaaaaaaaaaaa            |
|28 |aaaaaaaaaaaaaaaaaaaaaaaaaaaa           |
|29 |aaaaaaaaaaaaaaaaaaaaaaaaaaaaa          |
|30 |aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa         |
|31 |aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa        |
|32 |aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa       |
|33 |aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa      |
|34 |aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa     |
|35 |aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa    |
|36 |aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa   |
|37 |aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa  |
|38 |aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa |
|39 |aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa|
+---+---------------------------------------+

In [46]:
rows = [(num, "a" * num) for num in range(20, 40)]
spark.createDataFrame(rows).printSchema()

root
 |-- _1: long (nullable = true)
 |-- _2: string (nullable = true)

In [57]:
import decimal, datetime
spark.createDataFrame([(True, 
                        4, 
                        1.0, 
                        decimal.Decimal("1.0"),
                        bytearray([1, 2]),
                        datetime.datetime(2000, 1, 2, 3, 4),
                        ["ddd", "vvv"],
                       {"a":2})]).printSchema()

root
 |-- _1: boolean (nullable = true)
 |-- _2: long (nullable = true)
 |-- _3: double (nullable = true)
 |-- _4: decimal(38,18) (nullable = true)
 |-- _5: binary (nullable = true)
 |-- _6: timestamp (nullable = true)
 |-- _7: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- _8: map (nullable = true)
 |    |-- key: string
 |    |-- value: long (valueContainsNull = true)

In [104]:
df = spark.read.csv("/home/orpington/Desktop/dbgen/tpch-1/nation.tbl", sep="|")
df.show(5)
df.select("_c0", "_c1").show(5)

+---+---------+---+--------------------+----+
|_c0|      _c1|_c2|                 _c3| _c4|
+---+---------+---+--------------------+----+
|  0|  ALGERIA|  0| haggle. carefull...|null|
|  1|ARGENTINA|  1|al foxes promise ...|null|
|  2|   BRAZIL|  1|y alongside of th...|null|
|  3|   CANADA|  1|eas hang ironic, ...|null|
|  4|    EGYPT|  4|y above the caref...|null|
+---+---------+---+--------------------+----+
only showing top 5 rows

+---+---------+
|_c0|      _c1|
+---+---------+
|  0|  ALGERIA|
|  1|ARGENTINA|
|  2|   BRAZIL|
|  3|   CANADA|
|  4|    EGYPT|
+---+---------+
only showing top 5 rows

In [107]:
spark.createDataFrame([("fox",), ("duck",), ("eagle",), ("fox",)]).distinct().show()

+-----+
|   _1|
+-----+
|eagle|
| duck|
|  fox|
+-----+

In [111]:
from pyspark.sql.functions import expr, col
spark.range(10).select("id", expr("id % 2"), col("id") % 2).show()

+---+--------+--------+
| id|(id % 2)|(id % 2)|
+---+--------+--------+
|  0|       0|       0|
|  1|       1|       1|
|  2|       0|       0|
|  3|       1|       1|
|  4|       0|       0|
|  5|       1|       1|
|  6|       0|       0|
|  7|       1|       1|
|  8|       0|       0|
|  9|       1|       1|
+---+--------+--------+

In [116]:
df = spark.range(10).withColumn("flag", expr("id % 2 == 1"))
df.show()
df.where("flag").show()

+---+-----+
| id| flag|
+---+-----+
|  0|false|
|  1| true|
|  2|false|
|  3| true|
|  4|false|
|  5| true|
|  6|false|
|  7| true|
|  8|false|
|  9| true|
+---+-----+

+---+----+
| id|flag|
+---+----+
|  1|true|
|  3|true|
|  5|true|
|  7|true|
|  9|true|
+---+----+

In [119]:
spark.range(10).withColumnRenamed("id", "something else than id").show()

+----------------------+
|something else than id|
+----------------------+
|                     0|
|                     1|
|                     2|
|                     3|
|                     4|
|                     5|
|                     6|
|                     7|
|                     8|
|                     9|
+----------------------+

In [124]:
from pyspark.sql.functions import desc
spark.range(10).orderBy(desc("id")).show()

+---+
| id|
+---+
|  9|
|  8|
|  7|
|  6|
|  5|
|  4|
|  3|
|  2|
|  1|
|  0|
+---+

In [142]:
from pyspark.sql.functions import desc, randn, when, lit
spark.range(10).withColumn("rand1", when(randn() > 0, "cat").otherwise("dog"))\
               .withColumn("rand2", randn())\
               .orderBy("rand1", "rand2").show()

+---+-----+--------------------+
| id|rand1|               rand2|
+---+-----+--------------------+
|  5|  cat|  -1.321720703237387|
|  0|  cat|-0.01936405426632...|
|  1|  cat|  0.0561330407300823|
|  3|  cat|  0.6742340794515306|
|  8|  cat|  1.0598055846873387|
|  6|  dog| -1.8712019672434888|
|  7|  dog|  -1.559670868144924|
|  2|  dog|   0.259390814238652|
|  4|  dog|  0.5799376199421837|
|  9|  dog|  0.9884335789160633|
+---+-----+--------------------+

In [128]:
spark.range(10).sample(withReplacement=True, fraction=0.5).show()

+---+
| id|
+---+
|  0|
|  2|
|  3|
|  5|
|  7|
|  9|
+---+

In [129]:
for df in spark.range(20).randomSplit([0.75, 0.25]):
    df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  5|
|  6|
|  8|
|  9|
| 10|
| 13|
| 14|
| 15|
| 16|
| 17|
| 18|
| 19|
+---+

+---+
| id|
+---+
|  4|
|  7|
| 11|
| 12|
+---+

In [118]:
spark.range(5).union(spark.range(10, 15)).show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
| 10|
| 11|
| 12|
| 13|
| 14|
+---+

In [156]:
df = spark.read\
          .format("csv")\
          .option("sep", "|")\
          .option("header", False)\
          .option("inferSchema", True)\
          .option("ignoreTrailingWhitespace", True)\
          .load("/home/orpington/dbgen-data/nation.tbl")

for i, new_name in enumerate(["id", "country", "num", "desc", "n"]):
    df = df.withColumnRenamed(df.columns[i], new_name)

df.show(5)

+---+---------+---+--------------------+----+
| id|  country|num|                desc|   n|
+---+---------+---+--------------------+----+
|  0|  ALGERIA|  0| haggle. carefull...|null|
|  1|ARGENTINA|  1|al foxes promise ...|null|
|  2|   BRAZIL|  1|y alongside of th...|null|
|  3|   CANADA|  1|eas hang ironic, ...|null|
|  4|    EGYPT|  4|y above the caref...|null|
+---+---------+---+--------------------+----+
only showing top 5 rows

In [157]:
df = spark.read\
          .format("csv")\
          .option("sep", "|")\
          .option("header", False)\
          .option("inferSchema", True)\
          .option("ignoreTrailingWhitespace", True)\
          .load("/home/orpington/dbgen-data/nation.tbl")

for i, new_name in enumerate(["id", "country", "num", "desc", "n"]):
    df = df.withColumnRenamed(df.columns[i], new_name)

#filtering
all_i = df["country"].startswith("J")
or_j = all_i | df["country"].startswith("I")
df.where(or_j)\
  .filter(col("country") != "IRAN").show()

+---+---------+---+--------------------+----+
| id|  country|num|                desc|   n|
+---+---------+---+--------------------+----+
|  8|    INDIA|  2|ss excuses cajole...|null|
|  9|INDONESIA|  2| slyly express as...|null|
| 11|     IRAQ|  4|nic deposits boos...|null|
| 12|    JAPAN|  2|ously. final, exp...|null|
| 13|   JORDAN|  4|ic deposits are b...|null|
+---+---------+---+--------------------+----+

In [159]:
df = spark.read\
          .format("csv")\
          .option("sep", "|")\
          .option("header", False)\
          .option("inferSchema", True)\
          .option("ignoreTrailingWhitespace", True)\
          .load("/home/orpington/dbgen-data/nation.tbl")

for i, new_name in enumerate(["id", "country", "num", "desc", "n"]):
    df = df.withColumnRenamed(df.columns[i], new_name)

df.createOrReplaceTempView("df")

spark.sql("""
SELECT *
FROM df
WHERE (instr(country, 'I') = 1 or instr(country, 'J') = 1)
  AND country != 'IRAN'
""").show()

+---+---------+---+--------------------+----+
| id|  country|num|                desc|   n|
+---+---------+---+--------------------+----+
|  8|    INDIA|  2|ss excuses cajole...|null|
|  9|INDONESIA|  2| slyly express as...|null|
| 11|     IRAQ|  4|nic deposits boos...|null|
| 12|    JAPAN|  2|ously. final, exp...|null|
| 13|   JORDAN|  4|ic deposits are b...|null|
+---+---------+---+--------------------+----+

In [160]:
spark.sql("show functions").where(col("function").contains("s")).show()

+--------------------+
|            function|
+--------------------+
|                 abs|
|                acos|
|          add_months|
|approx_count_dist...|
|      array_contains|
|               ascii|
|                asin|
|         assert_true|
|              base64|
|                cast|
|            coalesce|
|        collect_list|
|         collect_set|
|           concat_ws|
|                 cos|
|                cosh|
|    count_min_sketch|
|          covar_samp|
|           cume_dist|
|    current_database|
+--------------------+
only showing top 20 rows

In [161]:
from pyspark.sql.functions import pow, round, expr, col

df.select(expr("country"), 
          pow(col("id") * col("num"), 2).alias("power"),
          expr("POWER((id * num), 2) +1 as value"),
          round(col("id") / 2).alias("rounded")
         ).show(3)

+---------+-----+-----+-------+
|  country|power|value|rounded|
+---------+-----+-----+-------+
|  ALGERIA|  0.0|  1.0|    0.0|
|ARGENTINA|  1.0|  2.0|    1.0|
|   BRAZIL|  4.0|  5.0|    1.0|
+---------+-----+-----+-------+
only showing top 3 rows

In [165]:
from pyspark.sql.functions import lit, round, bround
spark.range(1).select(round(lit(2.5)), bround(lit(2.5))).show(3)

+-------------+--------------+
|round(2.5, 0)|bround(2.5, 0)|
+-------------+--------------+
|          3.0|           2.0|
+-------------+--------------+

In [168]:
spark.range(1000).selectExpr("id", "randn() as r").stat.corr("id", "r")

0.017025689444518023

In [170]:
from pyspark.sql.functions import randn, corr
spark.range(1000).withColumn("r", randn()).select(corr("id", "r")).show()

+--------------------+
|         corr(id, r)|
+--------------------+
|0.007465452328744746|
+--------------------+

In [171]:
df = spark.read\
          .format("csv")\
          .option("sep", "|")\
          .option("header", False)\
          .option("inferSchema", True)\
          .option("ignoreTrailingWhitespace", True)\
          .load("/home/orpington/dbgen-data/nation.tbl")

for i, new_name in enumerate(["id", "country", "num", "desc", "n"]):
    df = df.withColumnRenamed(df.columns[i], new_name)
    
df.describe().show()

+-------+-----------------+-------+------------------+--------------------+----+
|summary|               id|country|               num|                desc|   n|
+-------+-----------------+-------+------------------+--------------------+----+
|  count|               25|     25|                25|                  25|   0|
|   mean|             12.0|   null|               2.0|                null|null|
| stddev|7.359800721939872|   null|1.4433756729740645|                null|null|
|    min|                0|ALGERIA|                 0| haggle. carefull...|null|
|    max|               24|VIETNAM|                 4|y final packages....|null|
+-------+-----------------+-------+------------------+--------------------+----+

In [176]:
from pyspark.sql.functions import length, col
df = spark.read.csv("/home/orpington/dbgen-data/nation.tbl", sep="|")

for i, new_name in enumerate(["id", "country", "num", "desc", "n"]):
    df = df.withColumnRenamed(df.columns[i], new_name)
    
df_base = df.withColumn("lens", length(col("country")).cast("string")).select("lens", "num")
df_base.show(5)
df_base.crosstab("lens", "num").show()

+----+---+
|lens|num|
+----+---+
|   7|  0|
|   9|  1|
|   6|  1|
|   6|  1|
|   5|  4|
+----+---+
only showing top 5 rows

+--------+---+---+---+---+---+
|lens_num|  0|  1|  2|  3|  4|
+--------+---+---+---+---+---+
|      12|  0|  0|  0|  0|  1|
|       8|  1|  0|  0|  0|  0|
|       4|  0|  1|  0|  0|  2|
|       9|  0|  1|  1|  0|  0|
|      13|  0|  1|  0|  0|  0|
|       5|  1|  0|  3|  0|  1|
|      10|  1|  0|  0|  0|  0|
|       6|  0|  2|  0|  2|  1|
|      14|  0|  0|  0|  1|  0|
|       7|  2|  0|  1|  2|  0|
+--------+---+---+---+---+---+

In [181]:
from pyspark.sql.functions import length, col, explode, posexplode
df = spark.read.csv("/home/orpington/dbgen-data/nation.tbl", sep="|")

for i, new_name in enumerate(["id", "country", "num", "desc", "n"]):
    df = df.withColumnRenamed(df.columns[i], new_name)
    
freq = df.withColumn("lens", length(col("country")).cast("string"))\
         .freqItems(["lens"])
freq.show()

freq.select(explode(freq.columns[0])).show()
freq.select(posexplode(freq.columns[0])).show()

+--------------------+
|      lens_freqItems|
+--------------------+
|[5, 12, 8, 7, 4, ...|
+--------------------+

+---+
|col|
+---+
|  5|
| 12|
|  8|
|  7|
|  4|
| 14|
|  6|
|  9|
| 10|
| 13|
+---+

+---+---+
|pos|col|
+---+---+
|  0|  5|
|  1| 12|
|  2|  8|
|  3|  7|
|  4|  4|
|  5| 14|
|  6|  6|
|  7|  9|
|  8| 10|
|  9| 13|
+---+---+

In [185]:
from pyspark.sql.functions import *
exprs = [initcap(concat(lit("country "),col("country"))).alias("initcap")]
exprs += [lower(exprs[0]).alias("lower")]
exprs += [upper(exprs[0]).alias("upper")]
exprs += [lit("ddd").alias("lit")]

spark.read.csv("/home/orpington/dbgen-data/nation.tbl", sep="|")\
     .withColumnRenamed("_c1","country")\
     .select(*exprs).show()

+------------------+------------------+------------------+---+
|           initcap|             lower|             upper|lit|
+------------------+------------------+------------------+---+
|   Country Algeria|   country algeria|   COUNTRY ALGERIA|ddd|
| Country Argentina| country argentina| COUNTRY ARGENTINA|ddd|
|    Country Brazil|    country brazil|    COUNTRY BRAZIL|ddd|
|    Country Canada|    country canada|    COUNTRY CANADA|ddd|
|     Country Egypt|     country egypt|     COUNTRY EGYPT|ddd|
|  Country Ethiopia|  country ethiopia|  COUNTRY ETHIOPIA|ddd|
|    Country France|    country france|    COUNTRY FRANCE|ddd|
|   Country Germany|   country germany|   COUNTRY GERMANY|ddd|
|     Country India|     country india|     COUNTRY INDIA|ddd|
| Country Indonesia| country indonesia| COUNTRY INDONESIA|ddd|
|      Country Iran|      country iran|      COUNTRY IRAN|ddd|
|      Country Iraq|      country iraq|      COUNTRY IRAQ|ddd|
|     Country Japan|     country japan|     COUNTRY JAPAN|ddd|
|    Country Jordan|    country jordan|    COUNTRY JORDAN|ddd|
|     Country Kenya|     country kenya|     COUNTRY KENYA|ddd|
|   Country Morocco|   country morocco|   COUNTRY MOROCCO|ddd|
|Country Mozambique|country mozambique|COUNTRY MOZAMBIQUE|ddd|
|      Country Peru|      country peru|      COUNTRY PERU|ddd|
|     Country China|     country china|     COUNTRY CHINA|ddd|
|   Country Romania|   country romania|   COUNTRY ROMANIA|ddd|
+------------------+------------------+------------------+---+
only showing top 20 rows

In [189]:
clean = lambda fun: regexp_replace(fun(regexp_replace(exprs[1], "=", " ")), " ", "=")
exprs = [lpad(col("country"), 8, "=")]
exprs += [rpad(exprs[0], 12, "=")]
exprs += [clean(ltrim)]
exprs += [clean(rtrim)]
exprs += [clean(trim)]
exprs += [regexp_replace(col("country"), "(I).", "$1-")]
exprs += [translate(col("country"), "AL", "_+")]
exprs += [regexp_extract(col("country"), r"(\w)(\w)(\w)", 3)]
spark.createDataFrame(spark.read.csv("/home/orpington/dbgen-data/nation.tbl", sep="|")\
     .withColumnRenamed("_c1","country")\
     .sample(False, 0.1, 5)\
     .select(*exprs).rdd, ["lpad", "rpad", "ltrim", "rtrim", "trim", "regexp", "translate", "extr"]).show()

+--------+------------+------------+--------+--------+-------------+-------------+----+
|    lpad|        rpad|       ltrim|   rtrim|    trim|       regexp|    translate|extr|
+--------+------------+------------+--------+--------+-------------+-------------+----+
|=ALGERIA|=ALGERIA====| ALGERIA====|=ALGERIA| ALGERIA|      ALGERI-|      _+GERI_|   G|
|=GERMANY|=GERMANY====| GERMANY====|=GERMANY| GERMANY|      GERMANY|      GERM_NY|   R|
|===INDIA|===INDIA====|   INDIA====|===INDIA|   INDIA|        I-DI-|        INDI_|   D|
|===JAPAN|===JAPAN====|   JAPAN====|===JAPAN|   JAPAN|        JAPAN|        J_P_N|   P|
|UNITED S|UNITED S====|UNITED=S====|UNITED=S|UNITED=S|UNI-ED STATES|UNITED ST_TES|   I|
+--------+------------+------------+--------+--------+-------------+-------------+----+

In [191]:
spark.read.csv("/home/orpington/dbgen-data/nation.tbl", sep="|")\
     .withColumnRenamed("_c1","country")\
     .select("country", 
             instr(col("country"),"A"), 
             locate("A",col("country"))).show(5)

+---------+-----------------+---------------------+
|  country|instr(country, A)|locate(A, country, 1)|
+---------+-----------------+---------------------+
|  ALGERIA|                1|                    1|
|ARGENTINA|                1|                    1|
|   BRAZIL|                3|                    3|
|   CANADA|                2|                    2|
|    EGYPT|                0|                    0|
+---------+-----------------+---------------------+
only showing top 5 rows

In [193]:
from pyspark.sql.functions import *
dateDf = spark.range(5)\
              .withColumn("today", current_date())\
              .withColumn("now", current_timestamp())
dateDf.show(3, False)

+---+----------+-----------------------+
|id |today     |now                    |
+---+----------+-----------------------+
|0  |2017-10-05|2017-10-05 12:19:11.989|
|1  |2017-10-05|2017-10-05 12:19:11.989|
|2  |2017-10-05|2017-10-05 12:19:11.989|
+---+----------+-----------------------+
only showing top 3 rows

In [202]:
from pyspark.sql.functions import *
dateDf = spark.range(5)\
              .withColumn("today", current_date())\
              .withColumn("now", current_timestamp())\
              .select(
                  "*",
                  date_add(col("today"), 5).alias("start"),
                  date_sub(col("today"), 5).alias("end"),
                  to_date(concat(lit("2020-"),lpad(col("id"), 2, "0"), lit("-01"))).alias("wrong"),
                  unix_timestamp(lit("2019-02-02 02:02:02"), "yyyy-mm-dd HH:mm:ss").alias("unix"),
                  from_unixtime(lit("1546383722"), "yyyy-mm-dd HH:mm:ss").alias("unix_time"))\
            .drop("id", "now")\
            .withColumn("month_diff", months_between(col("start"), col("end")))
dateDf.show(3, False)

+----------+----------+----------+----------+----------+-------------------+----------+
|today     |start     |end       |wrong     |unix      |unix_time          |month_diff|
+----------+----------+----------+----------+----------+-------------------+----------+
|2017-10-05|2017-10-10|2017-09-30|null      |1546390922|2019-02-02 00:02:02|0.35483871|
|2017-10-05|2017-10-10|2017-09-30|2020-01-01|1546390922|2019-02-02 00:02:02|0.35483871|
|2017-10-05|2017-10-10|2017-09-30|2020-02-01|1546390922|2019-02-02 00:02:02|0.35483871|
+----------+----------+----------+----------+----------+-------------------+----------+
only showing top 3 rows

In [205]:
spark.range(10**5).limit(10).show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

In [219]:
df = spark.range(10)\
          .selectExpr("case when id = 0 then null else id end as one_null",
                      "case when id % 2 = 0 then null else id end as with_null")
df.show()
df.na.drop("any").show()
df.na.drop("all").show()
df.na.drop("all", subset=["one_null"]).show()
df.na.drop("all", subset=["with_null"]).show()
#dateDf2.na.drop("any").limit(limit_rows)

+--------+---------+
|one_null|with_null|
+--------+---------+
|    null|     null|
|       1|        1|
|       2|     null|
|       3|        3|
|       4|     null|
|       5|        5|
|       6|     null|
|       7|        7|
|       8|     null|
|       9|        9|
+--------+---------+

+--------+---------+
|one_null|with_null|
+--------+---------+
|       1|        1|
|       3|        3|
|       5|        5|
|       7|        7|
|       9|        9|
+--------+---------+

+--------+---------+
|one_null|with_null|
+--------+---------+
|       1|        1|
|       2|     null|
|       3|        3|
|       4|     null|
|       5|        5|
|       6|     null|
|       7|        7|
|       8|     null|
|       9|        9|
+--------+---------+

+--------+---------+
|one_null|with_null|
+--------+---------+
|       1|        1|
|       2|     null|
|       3|        3|
|       4|     null|
|       5|        5|
|       6|     null|
|       7|        7|
|       8|     null|
|       9|        9|
+--------+---------+

+--------+---------+
|one_null|with_null|
+--------+---------+
|       1|        1|
|       3|        3|
|       5|        5|
|       7|        7|
|       9|        9|
+--------+---------+

In [226]:
spark.range(5).show()
spark.range(5).na.replace([2, 4], [44, -1], "id").show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

+---+
| id|
+---+
|  0|
|  1|
| 44|
|  3|
| -1|
+---+

In [233]:
spark.range(5).selectExpr("(id, id % 2) as complex").select("*", "complex.col2").show(3)

+-------+----+
|complex|col2|
+-------+----+
|  [0,0]|   0|
|  [1,1]|   1|
|  [2,0]|   0|
+-------+----+
only showing top 3 rows

In [234]:
spark.range(5).selectExpr("struct(id, id % 2) as complex").printSchema()

root
 |-- complex: struct (nullable = false)
 |    |-- id: long (nullable = false)
 |    |-- col2: long (nullable = true)

In [237]:
spark.range(5).selectExpr("struct(id, id % 2, 'a value') as complex").select("complex","complex.*").show()

+-------------+---+----+-------+
|      complex| id|col2|   col3|
+-------------+---+----+-------+
|[0,0,a value]|  0|   0|a value|
|[1,1,a value]|  1|   1|a value|
|[2,0,a value]|  2|   0|a value|
|[3,1,a value]|  3|   1|a value|
|[4,0,a value]|  4|   0|a value|
+-------------+---+----+-------+

In [242]:
!wget https://raw.githubusercontent.com/JakubPawlicki/daily/master/rxpy/course.py

--2017-10-05 12:48:17--  https://raw.githubusercontent.com/JakubPawlicki/daily/master/rxpy/course.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.112.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.112.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15982 (16K) [text/plain]
Saving to: ‘course.py’

course.py           100%[===================>]  15,61K  --.-KB/s    in 0,05s

2017-10-05 12:48:17 (292 KB/s) - ‘course.py’ saved [15982/15982]

In [250]:
from pyspark.sql.functions import *
text_df = spark.read.text("course.py")
#text_df.show()
text_df_processed = text_df.select(split(trim(col("value")), " ").alias("arr"))
text_df_processed.select(expr("arr[0]"), expr("arr").getItem(0)).show()

text_df_processed.where(array_contains(col("arr"), "def")).withColumn("expld", explode(col("arr"))).show()

+--------------------+--------------------+
|              arr[0]|              arr[0]|
+--------------------+--------------------+
|                from|                from|
|                    |                    |
|                 def|                 def|
|                    |                    |
|             letters|             letters|
|                    |                    |
|               class|               class|
|                    |                    |
|                 def|                 def|
|        print(value)|        print(value)|
|                    |                    |
|                 def|                 def|
|       print("done")|       print("done")|
|                    |                    |
|                 def|                 def|
|        print(error)|        print(error)|
|                    |                    |
|letters.subscribe...|letters.subscribe...|
|                    |                    |
|                 def|                 def|
+--------------------+--------------------+
only showing top 20 rows

+--------------------+-------------------+
|                 arr|              expld|
+--------------------+-------------------+
| [def, class_one():]|                def|
| [def, class_one():]|       class_one():|
|[def, on_next(sel...|                def|
|[def, on_next(sel...|      on_next(self,|
|[def, on_next(sel...|            value):|
|[def, on_complete...|                def|
|[def, on_complete...|on_completed(self):|
|[def, on_error(se...|                def|
|[def, on_error(se...|     on_error(self,|
|[def, on_error(se...|            error):|
| [def, class_two():]|                def|
| [def, class_two():]|       class_two():|
|[def, class_three...|                def|
|[def, class_three...|     class_three():|
|[def, class_four():]|                def|
|[def, class_four():]|      class_four():|
|[def, class_five():]|                def|
|[def, class_five():]|      class_five():|
| [def, class_six():]|                def|
| [def, class_six():]|       class_six():|
+--------------------+-------------------+
only showing top 20 rows

In [251]:
spark.range(5).select(collect_list(col("id"))).show()

+----------------+
|collect_list(id)|
+----------------+
| [0, 1, 2, 3, 4]|
+----------------+

In [275]:
from random_words import RandomWords
rows = [Row(i, "dddd", {"name": "nope", "name2": "again"}) for i in range(10)]
df_map = spark.createDataFrame(rows, ["id", "word", "d"])\
              .select(create_map(col("word"), col("id")).alias("map"), col("d"))\
              .select(explode(col("map")), col("d"))\
              .select(explode(col("d")), col("*"))\
              .show(10, False)

+-----+-----+----+-----+---------------------------------+
|key  |value|key |value|d                                |
+-----+-----+----+-----+---------------------------------+
|name |nope |dddd|0    |Map(name -> nope, name2 -> again)|
|name2|again|dddd|0    |Map(name -> nope, name2 -> again)|
|name |nope |dddd|1    |Map(name -> nope, name2 -> again)|
|name2|again|dddd|1    |Map(name -> nope, name2 -> again)|
|name |nope |dddd|2    |Map(name -> nope, name2 -> again)|
|name2|again|dddd|2    |Map(name -> nope, name2 -> again)|
|name |nope |dddd|3    |Map(name -> nope, name2 -> again)|
|name2|again|dddd|3    |Map(name -> nope, name2 -> again)|
|name |nope |dddd|4    |Map(name -> nope, name2 -> again)|
|name2|again|dddd|4    |Map(name -> nope, name2 -> again)|
+-----+-----+----+-----+---------------------------------+
only showing top 10 rows

In [285]:
rows = [Row(i, word, {"name": "nope", "name2": "again"}) 
        for i, word 
        in enumerate(["duck", "eagle", "pidgeon"])]

df_map = spark.createDataFrame(rows, ["id", "word", "d"])
#df_map.show()
df_map = df_map.select(create_map(col("word"), col("id")).alias("map"), col("d"))
#df_map.show()
df_map = df_map.select(explode(col("map")), col("d"))
df_map.show()

+-------+-----+--------------------+
|    key|value|                   d|
+-------+-----+--------------------+
|   duck|    0|Map(name -> nope,...|
|  eagle|    1|Map(name -> nope,...|
|pidgeon|    2|Map(name -> nope,...|
+-------+-----+--------------------+

In [298]:
from pyspark.sql.functions import *

json = """
'{"myJSONKey": {"myJSONValue":[1,2,3]}}' as jsonstring
"""
json_df = spark.range(1).selectExpr(json)
json_df.show()
json_df.printSchema()

expressive_json = get_json_object(col("jsonstring"), "$.myJSONKey.myJSONValue[0]")
simple_json = json_tuple(col("jsonstring"), "myJSONKey")
struct_to_json = to_json(struct(lit('first'),lit('last')))

json_df.select(expressive_json.name("get_json_object"),
               simple_json.name("json_tuple"),
               struct_to_json.name("json")).show(truncate=False)

+--------------------+
|          jsonstring|
+--------------------+
|{"myJSONKey": {"m...|
+--------------------+

root
 |-- jsonstring: string (nullable = false)

+---------------+-----------------------+------------------------------+
|get_json_object|json_tuple             |json                          |
+---------------+-----------------------+------------------------------+
|1              |{"myJSONValue":[1,2,3]}|{"col1":"first","col2":"last"}|
+---------------+-----------------------+------------------------------+

In [301]:
from pyspark.sql.types import StructType, StructField, ArrayType, StringType, IntegerType
from pyspark.sql.functions import *

schema = StructType(
    [StructField("name1", StringType(), True),
     StructField("name2", StringType(), True)])

random_words_expr = array([lit(word) for word in ["one", "two", "three"]])

inner_struct = struct(col("col"), col("id"))
outer_struct = struct(inner_struct, current_date().alias("today"))
                      
df = spark.range(1)\
          .select(explode(random_words_expr))\
          .withColumn("id", monotonically_increasing_id())\
          .select(to_json(outer_struct).alias("json"))
df.show(truncate=False)

+--------------------------------------------------------------+
|json                                                          |
+--------------------------------------------------------------+
|{"col1":{"col":"one","id":25769803776},"today":"2017-10-05"}  |
|{"col1":{"col":"two","id":25769803777},"today":"2017-10-05"}  |
|{"col1":{"col":"three","id":25769803778},"today":"2017-10-05"}|
+--------------------------------------------------------------+

In [302]:
from pyspark.sql.functions import udf

spark.range(10).select(udf(lambda x: x**3)("id")).show()

+------------+
|<lambda>(id)|
+------------+
|           0|
|           1|
|           8|
|          27|
|          64|
|         125|
|         216|
|         343|
|         512|
|         729|
+------------+

In [303]:
from pyspark.sql.types import DoubleType
spark.udf.register("go-go-go", lambda x: x**3*1.0, IntegerType())
spark.udf.register("go-go-go2", lambda x: x**3*1.0, StringType())
spark.udf.register("go-go-go3", lambda x: x**3*1.0, DoubleType())
spark.range(10).selectExpr("`go-go-go`(id)", "`go-go-go2`(id)", "`go-go-go3`(id)").show()

+------------+-------------+-------------+
|go-go-go(id)|go-go-go2(id)|go-go-go3(id)|
+------------+-------------+-------------+
|        null|          0.0|          0.0|
|        null|          1.0|          1.0|
|        null|          8.0|          8.0|
|        null|         27.0|         27.0|
|        null|         64.0|         64.0|
|        null|        125.0|        125.0|
|        null|        216.0|        216.0|
|        null|        343.0|        343.0|
|        null|        512.0|        512.0|
|        null|        729.0|        729.0|
+------------+-------------+-------------+

In [147]:
import pyspark
rows = [pyspark.sql.Row(str(i), "a" + str(i),"b" + str(i),"c" + str(i)) for i in range(1,4)]
df = spark.createDataFrame(rows, ["id", "a", "b", "c"])
df.show()
print("")
df.selectExpr("stack(3, id, 'a', a, id, 'b', b, id, 'c', c)").show()

+---+---+---+---+
| id|  a|  b|  c|
+---+---+---+---+
|  1| a1| b1| c1|
|  2| a2| b2| c2|
|  3| a3| b3| c3|
+---+---+---+---+


+----+----+----+
|col0|col1|col2|
+----+----+----+
|   1|   a|  a1|
|   1|   b|  b1|
|   1|   c|  c1|
|   2|   a|  a2|
|   2|   b|  b2|
|   2|   c|  c2|
|   3|   a|  a3|
|   3|   b|  b3|
|   3|   c|  c3|
+----+----+----+

In [146]:
spark.range(5).selectExpr("stack(4, id, 2, id, 4, id)").show()

+----+----+
|col0|col1|
+----+----+
|   0|   2|
|   0|   4|
|   0|null|
|null|null|
|   1|   2|
|   1|   4|
|   1|null|
|null|null|
|   2|   2|
|   2|   4|
|   2|null|
|null|null|
|   3|   2|
|   3|   4|
|   3|null|
|null|null|
|   4|   2|
|   4|   4|
|   4|null|
|null|null|
+----+----+

In [75]:
from pyspark.sql.types import *
schema = StructType([StructField("col" + typ.typeName(), typ, False) 
                       for typ 
                       in [StringType(), 
                           ByteType(),
                           FloatType(),
                           DecimalType(),
                           BinaryType(),
                           DateType(),
                           ArrayType(StringType()),
                           MapType(StringType(), IntegerType())
                          ]])

spark.createDataFrame([(True, 
                        4, 
                        1.0, 
                        decimal.Decimal("1.0"),
                        bytearray([1, 2]),
                        datetime.datetime(2000, 1, 2, 3, 4),
                        ["ddd", "vvv"],
                       {"a":2})], schema).printSchema()

root
 |-- colstring: string (nullable = false)
 |-- colbyte: byte (nullable = false)
 |-- colfloat: float (nullable = false)
 |-- coldecimal: decimal(10,0) (nullable = false)
 |-- colbinary: binary (nullable = false)
 |-- coldate: date (nullable = false)
 |-- colarray: array (nullable = false)
 |    |-- element: string (containsNull = true)
 |-- colmap: map (nullable = false)
 |    |-- key: string
 |    |-- value: integer (valueContainsNull = true)

In [90]:
from pyspark.sql.types import StructType, StructField, DoubleType
from pyspark.sql import Row

schema = StructType([StructField("double", DoubleType(), False)])

spark.createDataFrame([Row(1.0)],schema).show()

try:
    spark.createDataFrame([Row(1)],schema).show()
except Exception as e:
    print("error: {}".format(e))

spark.createDataFrame([Row("ddd")],schema, verifySchema=False).show()

+------+
|double|
+------+
|   1.0|
+------+

error: DoubleType can not accept object 1 in type <type 'int'>
+------+
|double|
+------+
|   0.0|
+------+

In [306]:
person = spark.createDataFrame([
    (0, "Ben Benson", 0),
    (1, "Tom Tomhson", 1),
    (2, "Jill Jilli", 1)
]).toDF("id", "name", "study_program")

studyProgram = spark.createDataFrame([
    (0, "Masters", "Great university"),
    (1, "Masters", "Greater university"),
    (2, "Ph.D.", "Greatest university")
]).toDF("id", "degree", "school")
studyProgram.show()

join_expr = person["study_program"] == studyProgram["id"]

joined_df = studyProgram.join(person, join_expr, "inner")
joined_df.show()

joined_df = studyProgram.join(person, join_expr, "cross")
joined_df.show()

joined_df = studyProgram.join(person, join_expr, "outer")
joined_df.show()

joined_df = studyProgram.join(person, join_expr, "full")
joined_df.show()

joined_df = studyProgram.join(person, join_expr, "full_outer")
joined_df.show()

joined_df = studyProgram.join(person, join_expr, "left")
joined_df.show()

joined_df = studyProgram.join(person, join_expr, "left_outer")
joined_df.show()

joined_df = studyProgram.join(person, join_expr, "right")
joined_df.show()

joined_df = studyProgram.join(person, join_expr, "right_outer")
joined_df.show()

joined_df = studyProgram.join(person, join_expr, "left_semi")
joined_df.show()

joined_df = studyProgram.join(person, join_expr, "left_anti")
joined_df.show()

+---+-------+-------------------+
| id| degree|             school|
+---+-------+-------------------+
|  0|Masters|   Great university|
|  1|Masters| Greater university|
|  2|  Ph.D.|Greatest university|
+---+-------+-------------------+

+---+-------+------------------+---+-----------+-------------+
| id| degree|            school| id|       name|study_program|
+---+-------+------------------+---+-----------+-------------+
|  0|Masters|  Great university|  0| Ben Benson|            0|
|  1|Masters|Greater university|  1|Tom Tomhson|            1|
|  1|Masters|Greater university|  2| Jill Jilli|            1|
+---+-------+------------------+---+-----------+-------------+

+---+-------+------------------+---+-----------+-------------+
| id| degree|            school| id|       name|study_program|
+---+-------+------------------+---+-----------+-------------+
|  0|Masters|  Great university|  0| Ben Benson|            0|
|  1|Masters|Greater university|  1|Tom Tomhson|            1|
|  1|Masters|Greater university|  2| Jill Jilli|            1|
+---+-------+------------------+---+-----------+-------------+

+---+-------+-------------------+----+-----------+-------------+
| id| degree|             school|  id|       name|study_program|
+---+-------+-------------------+----+-----------+-------------+
|  0|Masters|   Great university|   0| Ben Benson|            0|
|  1|Masters| Greater university|   1|Tom Tomhson|            1|
|  1|Masters| Greater university|   2| Jill Jilli|            1|
|  2|  Ph.D.|Greatest university|null|       null|         null|
+---+-------+-------------------+----+-----------+-------------+

+---+-------+-------------------+----+-----------+-------------+
| id| degree|             school|  id|       name|study_program|
+---+-------+-------------------+----+-----------+-------------+
|  0|Masters|   Great university|   0| Ben Benson|            0|
|  1|Masters| Greater university|   1|Tom Tomhson|            1|
|  1|Masters| Greater university|   2| Jill Jilli|            1|
|  2|  Ph.D.|Greatest university|null|       null|         null|
+---+-------+-------------------+----+-----------+-------------+

+---+-------+-------------------+----+-----------+-------------+
| id| degree|             school|  id|       name|study_program|
+---+-------+-------------------+----+-----------+-------------+
|  0|Masters|   Great university|   0| Ben Benson|            0|
|  1|Masters| Greater university|   1|Tom Tomhson|            1|
|  1|Masters| Greater university|   2| Jill Jilli|            1|
|  2|  Ph.D.|Greatest university|null|       null|         null|
+---+-------+-------------------+----+-----------+-------------+

+---+-------+-------------------+----+-----------+-------------+
| id| degree|             school|  id|       name|study_program|
+---+-------+-------------------+----+-----------+-------------+
|  0|Masters|   Great university|   0| Ben Benson|            0|
|  1|Masters| Greater university|   1|Tom Tomhson|            1|
|  1|Masters| Greater university|   2| Jill Jilli|            1|
|  2|  Ph.D.|Greatest university|null|       null|         null|
+---+-------+-------------------+----+-----------+-------------+

+---+-------+-------------------+----+-----------+-------------+
| id| degree|             school|  id|       name|study_program|
+---+-------+-------------------+----+-----------+-------------+
|  0|Masters|   Great university|   0| Ben Benson|            0|
|  1|Masters| Greater university|   1|Tom Tomhson|            1|
|  1|Masters| Greater university|   2| Jill Jilli|            1|
|  2|  Ph.D.|Greatest university|null|       null|         null|
+---+-------+-------------------+----+-----------+-------------+

+---+-------+------------------+---+-----------+-------------+
| id| degree|            school| id|       name|study_program|
+---+-------+------------------+---+-----------+-------------+
|  0|Masters|  Great university|  0| Ben Benson|            0|
|  1|Masters|Greater university|  1|Tom Tomhson|            1|
|  1|Masters|Greater university|  2| Jill Jilli|            1|
+---+-------+------------------+---+-----------+-------------+

+---+-------+------------------+---+-----------+-------------+
| id| degree|            school| id|       name|study_program|
+---+-------+------------------+---+-----------+-------------+
|  0|Masters|  Great university|  0| Ben Benson|            0|
|  1|Masters|Greater university|  1|Tom Tomhson|            1|
|  1|Masters|Greater university|  2| Jill Jilli|            1|
+---+-------+------------------+---+-----------+-------------+

+---+-------+------------------+
| id| degree|            school|
+---+-------+------------------+
|  0|Masters|  Great university|
|  1|Masters|Greater university|
+---+-------+------------------+

+---+------+-------------------+
| id|degree|             school|
+---+------+-------------------+
|  2| Ph.D.|Greatest university|
+---+------+-------------------+

In [313]:
from pyspark.sql.functions import col

df1 = spark.createDataFrame([
    (1, "aaa"),
    (2, "bbb"),
    (3, "bbb"),    
]).toDF("id", "name1")

df2 = spark.createDataFrame([
    (0, "cow"),
    (1, "goose"),
    (1, "duck"),    
]).toDF("id", "name2")

try:
    df1.join(df2, col("id") == col("id")).show()
except Exception as e:
    print(repr(e), str(e))
    
df1.join(df2, df1["id"] == df2["id"]).show()
df1.join(df2, "id").show()
df1.crossJoin(df2).show()

('AnalysisException()', 'u"Reference \'id\' is ambiguous, could be: id#5898L, id#5908L.;"')
+---+-----+---+-----+
| id|name1| id|name2|
+---+-----+---+-----+
|  1|  aaa|  1|goose|
|  1|  aaa|  1| duck|
+---+-----+---+-----+

+---+-----+-----+
| id|name1|name2|
+---+-----+-----+
|  1|  aaa|goose|
|  1|  aaa| duck|
+---+-----+-----+

+---+-----+---+-----+
| id|name1| id|name2|
+---+-----+---+-----+
|  1|  aaa|  0|  cow|
|  1|  aaa|  1|goose|
|  1|  aaa|  1| duck|
|  2|  bbb|  0|  cow|
|  2|  bbb|  1|goose|
|  2|  bbb|  1| duck|
|  3|  bbb|  0|  cow|
|  3|  bbb|  1|goose|
|  3|  bbb|  1| duck|
+---+-----+---+-----+

In [316]:
from pyspark.sql.functions import monotonically_increasing_id

df1 = spark.createDataFrame([
    (1, "aaa"),
    (2, "bbb"),
    (3, "bbb"),    
]).toDF("id", "name1")

df1_1 = df1.withColumn("addition_first", monotonically_increasing_id())
df1_2 = df1.withColumn("addition_first", monotonically_increasing_id())

df1_1.join(df1_2, ["id", "name1"]).show()

+---+-----+--------------+--------------+
| id|name1|addition_first|addition_first|
+---+-----+--------------+--------------+
|  2|  bbb|   17179869184|   17179869184|
|  1|  aaa|    8589934592|    8589934592|
|  3|  bbb|   25769803776|   25769803776|
+---+-----+--------------+--------------+

In [317]:
from pyspark.sql.functions import broadcast
person = spark.createDataFrame([
    (0, "Ben Benson", 0),
    (1, "Tom Tomhson", 1),
    (2, "Jill Jilli", 1)
]).toDF("id", "name", "study_program")

studyProgram = spark.createDataFrame([
    (0, "Masters", "Great university"),
    (1, "Masters", "Greater university"),
    (2, "Ph.D.", "Greatest university")
]).toDF("id", "degree", "school")
studyProgram.show()

join_expr = person["study_program"] == studyProgram["id"]
joined_df = studyProgram.join(person, join_expr, "inner")
joined_df.explain()

joined_df = studyProgram.join(broadcast(person), join_expr, "inner")
joined_df.explain()

+---+-------+-------------------+
| id| degree|             school|
+---+-------+-------------------+
|  0|Masters|   Great university|
|  1|Masters| Greater university|
|  2|  Ph.D.|Greatest university|
+---+-------+-------------------+

== Physical Plan ==
*SortMergeJoin [id#6069L], [study_program#6057L], Inner
:- *Sort [id#6069L ASC NULLS FIRST], false, 0
:  +- Exchange hashpartitioning(id#6069L, 200)
:     +- *Project [_1#6062L AS id#6069L, _2#6063 AS degree#6070, _3#6064 AS school#6071]
:        +- *Filter isnotnull(_1#6062L)
:           +- Scan ExistingRDD[_1#6062L,_2#6063,_3#6064]
+- *Sort [study_program#6057L ASC NULLS FIRST], false, 0
   +- Exchange hashpartitioning(study_program#6057L, 200)
      +- *Project [_1#6048L AS id#6055L, _2#6049 AS name#6056, _3#6050L AS study_program#6057L]
         +- *Filter isnotnull(_3#6050L)
            +- Scan ExistingRDD[_1#6048L,_2#6049,_3#6050L]
== Physical Plan ==
*BroadcastHashJoin [id#6069L], [study_program#6057L], Inner, BuildRight
:- *Project [_1#6062L AS id#6069L, _2#6063 AS degree#6070, _3#6064 AS school#6071]
:  +- *Filter isnotnull(_1#6062L)
:     +- Scan ExistingRDD[_1#6062L,_2#6063,_3#6064]
+- BroadcastExchange HashedRelationBroadcastMode(List(input[2, bigint, true]))
   +- *Project [_1#6048L AS id#6055L, _2#6049 AS name#6056, _3#6050L AS study_program#6057L]
      +- *Filter isnotnull(_3#6050L)
         +- Scan ExistingRDD[_1#6048L,_2#6049,_3#6050L]

In [322]:
data = spark.read.csv("/home/orpington/dbgen-data/nation.tbl", sep="|")
data.count()
data.describe().toPandas()

,summary,_c0,_c1,_c2,_c3,_c4
0,count,25,25,25,25,0
1,mean,12.0,None,2.0,None,None
2,stddev,7.359800721939872,None,1.4433756729740645,None,None
3,min,0,ALGERIA,0,haggle. carefully final deposits detect slyly...,None
4,max,9,VIETNAM,4,y final packages. slow foxes cajole quickly. q...,None

In [324]:
from pyspark.sql.functions import count, lit
data = spark.read.format("csv").option("sep", "|").load("/home/orpington/dbgen-data/lineitem.tbl")
exprs = [count("*").alias("*")]
exprs += [count(lit(1)).alias("1")]
exprs += [count("_c0").alias("_c0")]
exprs += [count("_c1").alias("_c1")]
data.select(exprs).toPandas().T

           0
*    6001215
1    6001215
_c0  6001215
_c1  6001215

In [333]:
data = spark.read.csv("/home/orpington/dbgen-data/nation.tbl", sep="|")
data.createOrReplaceTempView("nation")
spark.sql("select count(*), count(distinct *) from nation").show()

exprs = [countDistinct(column) for column in data.columns]
data.select(exprs).toPandas().T

+--------+---------------------------------------+
|count(1)|count(DISTINCT _c0, _c1, _c2, _c3, _c4)|
+--------+---------------------------------------+
|      25|                                      0|
+--------+---------------------------------------+

                      0
count(DISTINCT _c0)  25
count(DISTINCT _c1)  25
count(DISTINCT _c2)   5
count(DISTINCT _c3)  25
count(DISTINCT _c4)   0

In [332]:
data = spark.read.csv("/home/orpington/dbgen-data/nation.tbl", sep="|")
data.createOrReplaceTempView("nation")

spark.sql("""
select approx_count_distinct(_c1, 0.1) from nation limit 1000
""").show()

+--------------------------+
|approx_count_distinct(_c1)|
+--------------------------+
|                        24|
+--------------------------+

In [336]:
from pyspark.sql.functions import approx_count_distinct, count, countDistinct
data = spark.read.csv("/home/orpington/dbgen-data/nation.tbl", sep="|")

exprs = [countDistinct("_c2")]
exprs += [approx_count_distinct("_c2", 
                               rsd=float(0.30 - (exponent * 0.02))).alias("approx " + str(0.30 - (exponent * 0.02)))
         for exponent 
         in range(10)]
data.select(exprs).toPandas().T

                     0
count(DISTINCT _c2)  5
approx 0.3           5
approx 0.28          5
approx 0.26          4
approx 0.24          4
approx 0.22          4
approx 0.2           4
approx 0.18          4
approx 0.16          4
approx 0.14          4
approx 0.12          5

In [340]:
from pyspark.sql.functions import first, last
data = spark.read.csv("/home/orpington/dbgen-data/nation.tbl", sep="|")
data.select(first("_c1"), 
            last("_c1"),
            first("_c1", ignorenulls=True), 
            last("_c1", ignorenulls=True)
           ).toPandas().T

                               0
first(_c1, false)        ALGERIA
last(_c1, false)   UNITED STATES
first(_c1, true)         ALGERIA
last(_c1, true)    UNITED STATES

In [342]:
from pyspark.sql.functions import col, array, explode, sum, sumDistinct, max, min
spark.range(10).select(explode(array([col("id")] * 3)).alias("nums"))\
                 .select(sum("nums"), sumDistinct("nums"), max("nums"), min("nums")).show()

+---------+------------------+---------+---------+
|sum(nums)|sum(DISTINCT nums)|max(nums)|min(nums)|
+---------+------------------+---------+---------+
|      135|                45|        9|        0|
+---------+------------------+---------+---------+

In [344]:
from pyspark.sql.functions import (
    avg, mean, 
    var_pop, var_samp, stddev_pop, stddev_samp, 
    skewness, kurtosis
)
numeric_col = "id"
spark.range(1000).select(avg(numeric_col), 
                    mean(numeric_col),
                    var_pop(numeric_col),
                    var_samp(numeric_col),
                    stddev_pop(numeric_col),
                    stddev_samp(numeric_col),
                    skewness(numeric_col),
                    kurtosis(numeric_col)).toPandas().T

                            0
avg(id)            499.500000
avg(id)            499.500000
var_pop(id)      83333.250000
var_samp(id)     83416.666667
stddev_pop(id)     288.674990
stddev_samp(id)    288.819436
skewness(id)         0.000000
kurtosis(id)        -1.200002

In [345]:
data = spark.read.csv("/home/orpington/dbgen-data/nation.tbl", sep="|")
data.createOrReplaceTempView("nation")

spark.sql("""
  select _c2, 
         count(1) as counts 
    from nation 
group by _c2""").show()

+---+------+
|_c2|counts|
+---+------+
|  3|     5|
|  0|     5|
|  1|     5|
|  4|     5|
|  2|     5|
+---+------+

In [347]:
from pyspark.sql.functions import count, expr
data = spark.read.csv("/home/orpington/dbgen-data/nation.tbl", sep="|")
data.createOrReplaceTempView("nation")

data.groupby("_c2").agg(count("_c1"), expr("kurtosis(_c0)")).show()
data.groupBy("_c2").agg({"_c1": "count", "*": "count"}).show()

+---+----------+-------------------+
|_c2|count(_c1)|      kurtosis(_c0)|
+---+----------+-------------------+
|  3|         5| -1.781599351753203|
|  0|         5|-1.4312812469365752|
|  1|         5| -1.471609234176733|
|  4|         5|-0.6537753970186402|
|  2|         5| -1.558881039787595|
+---+----------+-------------------+

+---+--------+----------+
|_c2|count(1)|count(_c1)|
+---+--------+----------+
|  3|       5|         5|
|  0|       5|         5|
|  1|       5|         5|
|  4|       5|         5|
|  2|       5|         5|
+---+--------+----------+

In [350]:
from pyspark.sql.window import Window
from pyspark.sql.functions import desc, max, col, dense_rank, rank

data = spark.read.csv("/home/orpington/dbgen-data/nation.tbl", sep="|")
data.createOrReplaceTempView("nation")

window_spec = Window.partitionBy("_c2")\
                    .orderBy(desc("_c0"))\
                    .rowsBetween(Window.unboundedPreceding, Window.currentRow)

data.select("_c0",
            "_c1", 
            "_c2",
            rank().over(window_spec).alias("rank"),
            dense_rank().over(window_spec).alias("dense_rank"),            
            max(col("_c0").cast("float")).over(window_spec).alias("window")).show(100)

+---+--------------+---+----+----------+------+
|_c0|           _c1|_c2|rank|dense_rank|window|
+---+--------------+---+----+----------+------+
|  7|       GERMANY|  3|   1|         1|   7.0|
|  6|        FRANCE|  3|   2|         2|   7.0|
| 23|UNITED KINGDOM|  3|   3|         3|  23.0|
| 22|        RUSSIA|  3|   4|         4|  23.0|
| 19|       ROMANIA|  3|   5|         5|  23.0|
|  5|      ETHIOPIA|  0|   1|         1|   5.0|
| 16|    MOZAMBIQUE|  0|   2|         2|  16.0|
| 15|       MOROCCO|  0|   3|         3|  16.0|
| 14|         KENYA|  0|   4|         4|  16.0|
|  0|       ALGERIA|  0|   5|         5|  16.0|
|  3|        CANADA|  1|   1|         1|   3.0|
| 24| UNITED STATES|  1|   2|         2|  24.0|
|  2|        BRAZIL|  1|   3|         3|  24.0|
| 17|          PERU|  1|   4|         4|  24.0|
|  1|     ARGENTINA|  1|   5|         5|  24.0|
|  4|         EGYPT|  4|   1|         1|   4.0|
| 20|  SAUDI ARABIA|  4|   2|         2|  20.0|
| 13|        JORDAN|  4|   3|         3|  20.0|
| 11|          IRAQ|  4|   4|         4|  20.0|
| 10|          IRAN|  4|   5|         5|  20.0|
|  9|     INDONESIA|  2|   1|         1|   9.0|
|  8|         INDIA|  2|   2|         2|   9.0|
| 21|       VIETNAM|  2|   3|         3|  21.0|
| 18|         CHINA|  2|   4|         4|  21.0|
| 12|         JAPAN|  2|   5|         5|  21.0|
+---+--------------+---+----+----------+------+

In [355]:
from pyspark.sql.functions import count

data = spark.read.csv("/home/orpington/dbgen-data/nation.tbl", sep="|")
data.createOrReplaceTempView("nation")

data.limit(10).groupby("_c1").pivot("_c1").agg(count(col("_c0").cast("decimal"))).show()

+---------+-------+---------+------+------+-----+--------+------+-------+-----+---------+
|      _c1|ALGERIA|ARGENTINA|BRAZIL|CANADA|EGYPT|ETHIOPIA|FRANCE|GERMANY|INDIA|INDONESIA|
+---------+-------+---------+------+------+-----+--------+------+-------+-----+---------+
|  ALGERIA|      1|     null|  null|  null| null|    null|  null|   null| null|     null|
|ARGENTINA|   null|        1|  null|  null| null|    null|  null|   null| null|     null|
|   BRAZIL|   null|     null|     1|  null| null|    null|  null|   null| null|     null|
|   CANADA|   null|     null|  null|     1| null|    null|  null|   null| null|     null|
|    EGYPT|   null|     null|  null|  null|    1|    null|  null|   null| null|     null|
| ETHIOPIA|   null|     null|  null|  null| null|       1|  null|   null| null|     null|
|   FRANCE|   null|     null|  null|  null| null|    null|     1|   null| null|     null|
|  GERMANY|   null|     null|  null|  null| null|    null|  null|      1| null|     null|
|    INDIA|   null|     null|  null|  null| null|    null|  null|   null|    1|     null|
|INDONESIA|   null|     null|  null|  null| null|    null|  null|   null| null|        1|
+---------+-------+---------+------+------+-----+--------+------+-------+-----+---------+