In [1]:
import os
import sys

os.environ["SPARK_HOME"] = "/opt/spark"
spark_home = os.environ.get('SPARK_HOME', None)
sys.path.insert(0, os.path.join(spark_home, 'python'))
sys.path.insert(0, os.path.join(spark_home, 'python/lib'))

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [7]:
spark.read.csv("/home/orpington/Desktop/dbgen/tpch-100/*").count()

KeyboardInterrupt:

In [3]:
s = """
CREATE TABLE [dbo].[CUSTOMER](
	[C_CUSTKEY] [int] NOT NULL,
	[C_NAME] [varchar](25) NOT NULL,
	[C_ADDRESS] [varchar](40) NOT NULL,
	[C_NATIONKEY] [int] NOT NULL,
	[C_PHONE] [char](15) NOT NULL,
	[C_ACCTBAL] [decimal](15, 2) NOT NULL,
	[C_MKTSEGMENT] [char](10) NOT NULL,
	[C_COMMENT] [varchar](117) NOT NULL
);
GO
CREATE TABLE [dbo].[LINEITEM](
	[L_ORDERKEY] [int] NOT NULL,
	[L_PARTKEY] [int] NOT NULL,
	[L_SUPPKEY] [int] NOT NULL,
	[L_LINENUMBER] [int] NOT NULL,
	[L_QUANTITY] [decimal](15, 2) NOT NULL,
	[L_EXTENDEDPRICE] [decimal](15, 2) NOT NULL,
	[L_DISCOUNT] [decimal](15, 2) NOT NULL,
	[L_TAX] [decimal](15, 2) NOT NULL,
	[L_RETURNFLAG] [char](1) NOT NULL,
	[L_LINESTATUS] [char](1) NOT NULL,
	[L_SHIPDATE] [date] NOT NULL,
	[L_COMMITDATE] [date] NOT NULL,
	[L_RECEIPTDATE] [date] NOT NULL,
	[L_SHIPINSTRUCT] [char](25) NOT NULL,
	[L_SHIPMODE] [char](10) NOT NULL,
	[L_COMMENT] [varchar](44) NOT NULL
);
GO
CREATE TABLE [dbo].[NATION](
	[N_NATIONKEY] [int] NOT NULL,
	[N_NAME] [char](25) NOT NULL,
	[N_REGIONKEY] [int] NOT NULL,
	[N_COMMENT] [varchar](152) NULL
);
GO
CREATE TABLE [dbo].[ORDERS](
	[O_ORDERKEY] [int] NOT NULL,
	[O_CUSTKEY] [int] NOT NULL,
	[O_ORDERSTATUS] [char](1) NOT NULL,
	[O_TOTALPRICE] [decimal](15, 2) NOT NULL,
	[O_ORDERDATE] [date] NOT NULL,
	[O_ORDERPRIORITY] [char](15) NOT NULL,
	[O_CLERK] [char](15) NOT NULL,
	[O_SHIPPRIORITY] [int] NOT NULL,
	[O_COMMENT] [varchar](79) NOT NULL
);
GO
CREATE TABLE [dbo].[PART](
	[P_PARTKEY] [int] NOT NULL,
	[P_NAME] [varchar](55) NOT NULL,
	[P_MFGR] [char](25) NOT NULL,
	[P_BRAND] [char](10) NOT NULL,
	[P_TYPE] [varchar](25) NOT NULL,
	[P_SIZE] [int] NOT NULL,
	[P_CONTAINER] [char](10) NOT NULL,
	[P_RETAILPRICE] [decimal](15, 2) NOT NULL,
	[P_COMMENT] [varchar](23) NOT NULL
);
GO
CREATE TABLE [dbo].[PARTSUPP](
	[PS_PARTKEY] [int] NOT NULL,
	[PS_SUPPKEY] [int] NOT NULL,
	[PS_AVAILQTY] [int] NOT NULL,
	[PS_SUPPLYCOST] [decimal](15, 2) NOT NULL,
	[PS_COMMENT] [varchar](199) NOT NULL
);
GO
CREATE TABLE [dbo].[REGION](
	[R_REGIONKEY] [int] NOT NULL,
	[R_NAME] [char](25) NOT NULL,
	[R_COMMENT] [varchar](152) NULL
);
GO
CREATE TABLE [dbo].[SUPPLIER](
	[S_SUPPKEY] [int] NOT NULL,
	[S_NAME] [char](25) NOT NULL,
	[S_ADDRESS] [varchar](40) NOT NULL,
	[S_NATIONKEY] [int] NOT NULL,
	[S_PHONE] [char](15) NOT NULL,
	[S_ACCTBAL] [decimal](15, 2) NOT NULL,
	[S_COMMENT] [varchar](101) NOT NULL
);
GO
"""

In [53]:
splt = s.split("GO")[0]

In [55]:
print(splt)

CREATE TABLE [dbo].[CUSTOMER](
	[C_CUSTKEY] [int] NOT NULL,
	[C_NAME] [varchar](25) NOT NULL,
	[C_ADDRESS] [varchar](40) NOT NULL,
	[C_NATIONKEY] [int] NOT NULL,
	[C_PHONE] [char](15) NOT NULL,
	[C_ACCTBAL] [decimal](15, 2) NOT NULL,
	[C_MKTSEGMENT] [char](10) NOT NULL,
	[C_COMMENT] [varchar](117) NOT NULL
);

In [56]:
import re
re.search(r"[\[][^\]]*[\]][(]", splt).group(0)

'[CUSTOMER]('

In [57]:
re.search(r"(?<=[\]][(]).+", splt).group(0)

'25) NOT NULL,'

In [63]:
re.search(r"[^\]\[]*\]\(", splt).group(0)

'CUSTOMER]('

In [71]:
name_find = r"[^\]\[]+(?=\]\()"
re.search(name_find, splt).group(0)

'CUSTOMER'

In [72]:
splt.split(",")

['\nCREATE TABLE [dbo].[CUSTOMER](\n\t[C_CUSTKEY] [int] NOT NULL',
 '\n\t[C_NAME] [varchar](25) NOT NULL',
 '\n\t[C_ADDRESS] [varchar](40) NOT NULL',
 '\n\t[C_NATIONKEY] [int] NOT NULL',
 '\n\t[C_PHONE] [char](15) NOT NULL',
 '\n\t[C_ACCTBAL] [decimal](15',
 ' 2) NOT NULL',
 '\n\t[C_MKTSEGMENT] [char](10) NOT NULL',
 '\n\t[C_COMMENT] [varchar](117) NOT NULL\n);\n']

In [77]:
for line in re.split(r"\n\t\[", splt)[1:]:
    print(line.split("]")[0])

C_CUSTKEY
C_NAME
C_ADDRESS
C_NATIONKEY
C_PHONE
C_ACCTBAL
C_MKTSEGMENT
C_COMMENT

In [5]:
#https://pymotw.com/2/collections/counter.html
import re
from collections import Counter
counter = Counter()

with open("/home/orpington/Desktop/dbgen/schema.csv", "w") as f:
    for table_schema in s.split("GO"):
        table = re.search(r"[^\]\[]+(?=\]\()", table_schema)
        if table:
            table_name = table.group(0)
            for line in re.split(r"\n\t\[", table_schema)[1:]:
                counter.update([table_name])
                f.write("{},{},{}\n".format(
                                            counter[table_name], 
                                            table_name, 
                                            line.split("]")[0].split("_")[1]))

In [99]:
f = open("/home/orpington/Desktop/dbgen/schema.csv", "r")
print(repr(f.readlines()))
f.close()

['1,CUSTOMER,CUSTKEY\n', '2,CUSTOMER,NAME\n', '3,CUSTOMER,ADDRESS\n', '4,CUSTOMER,NATIONKEY\n', '5,CUSTOMER,PHONE\n', '6,CUSTOMER,ACCTBAL\n', '7,CUSTOMER,MKTSEGMENT\n', '8,CUSTOMER,COMMENT\n', '1,LINEITEM,ORDERKEY\n', '2,LINEITEM,PARTKEY\n', '3,LINEITEM,SUPPKEY\n', '4,LINEITEM,LINENUMBER\n', '5,LINEITEM,QUANTITY\n', '6,LINEITEM,EXTENDEDPRICE\n', '7,LINEITEM,DISCOUNT\n', '8,LINEITEM,TAX\n', '9,LINEITEM,RETURNFLAG\n', '10,LINEITEM,LINESTATUS\n', '11,LINEITEM,SHIPDATE\n', '12,LINEITEM,COMMITDATE\n', '13,LINEITEM,RECEIPTDATE\n', '14,LINEITEM,SHIPINSTRUCT\n', '15,LINEITEM,SHIPMODE\n', '16,LINEITEM,COMMENT\n', '1,NATION,NATIONKEY\n', '2,NATION,NAME\n', '3,NATION,REGIONKEY\n', '4,NATION,COMMENT\n', '1,ORDERS,ORDERKEY\n', '2,ORDERS,CUSTKEY\n', '3,ORDERS,ORDERSTATUS\n', '4,ORDERS,TOTALPRICE\n', '5,ORDERS,ORDERDATE\n', '6,ORDERS,ORDERPRIORITY\n', '7,ORDERS,CLERK\n', '8,ORDERS,SHIPPRIORITY\n', '9,ORDERS,COMMENT\n', '1,PART,PARTKEY\n', '2,PART,NAME\n', '3,PART,MFGR\n', '4,PART,BRAND\n', '5,PART,TYPE\n', '6,PART,SIZE\n', '7,PART,CONTAINER\n', '8,PART,RETAILPRICE\n', '9,PART,COMMENT\n', '1,PARTSUPP,PARTKEY\n', '2,PARTSUPP,SUPPKEY\n', '3,PARTSUPP,AVAILQTY\n', '4,PARTSUPP,SUPPLYCOST\n', '5,PARTSUPP,COMMENT\n', '1,REGION,REGIONKEY\n', '2,REGION,NAME\n', '3,REGION,COMMENT\n', '1,SUPPLIER,SUPPKEY\n', '2,SUPPLIER,NAME\n', '3,SUPPLIER,ADDRESS\n', '4,SUPPLIER,NATIONKEY\n', '5,SUPPLIER,PHONE\n', '6,SUPPLIER,ACCTBAL\n', '7,SUPPLIER,COMMENT\n']

In [29]:
from pyspark.sql.functions import col
from pyspark.sql.types import StructType, StructField, StringType

csv_schema = spark.read\
                   .csv("/home/orpington/Desktop/dbgen/schema.csv")\
                   .where(col("_c1") == "LINEITEM")\
                   .rdd\
                   .map(lambda row: StructField(row[2], StringType(), False))\
                   .collect()
StructType(csv_schema)

StructType(List(StructField(ORDERKEY,StringType,false),StructField(PARTKEY,StringType,false),StructField(SUPPKEY,StringType,false),StructField(LINENUMBER,StringType,false),StructField(QUANTITY,StringType,false),StructField(EXTENDEDPRICE,StringType,false),StructField(DISCOUNT,StringType,false),StructField(TAX,StringType,false),StructField(RETURNFLAG,StringType,false),StructField(LINESTATUS,StringType,false),StructField(SHIPDATE,StringType,false),StructField(COMMITDATE,StringType,false),StructField(RECEIPTDATE,StringType,false),StructField(SHIPINSTRUCT,StringType,false),StructField(SHIPMODE,StringType,false),StructField(COMMENT,StringType,false)))

In [28]:
data = spark.read\
            .format("csv")\
            .option("schema", StructType(csv_schema))\
            .option("sep", "|")\
            .load("/home/orpington/Desktop/dbgen/tpch-1/lineitem.tbl")

data.show()

+---+------+----+---+---+--------+----+----+---+---+----------+----------+----------+-----------------+-------+--------------------+----+
|_c0|   _c1| _c2|_c3|_c4|     _c5| _c6| _c7|_c8|_c9|      _c10|      _c11|      _c12|             _c13|   _c14|                _c15|_c16|
+---+------+----+---+---+--------+----+----+---+---+----------+----------+----------+-----------------+-------+--------------------+----+
|  1|155190|7706|  1| 17|21168.23|0.04|0.02|  N|  O|1996-03-13|1996-02-12|1996-03-22|DELIVER IN PERSON|  TRUCK|egular courts abo...|null|
|  1| 67310|7311|  2| 36|45983.16|0.09|0.06|  N|  O|1996-04-12|1996-02-28|1996-04-20| TAKE BACK RETURN|   MAIL|ly final dependen...|null|
|  1| 63700|3701|  3|  8|13309.60|0.10|0.02|  N|  O|1996-01-29|1996-03-05|1996-01-31| TAKE BACK RETURN|REG AIR|riously. regular,...|null|
|  1|  2132|4633|  4| 28|28955.64|0.09|0.06|  N|  O|1996-04-21|1996-03-30|1996-05-16|             NONE|    AIR|lites. fluffily e...|null|
|  1| 24027|1534|  5| 24|22824.48|0.10|0.04|  N|  O|1996-03-30|1996-03-14|1996-04-01|             NONE|    FOB| pending foxes. s...|null|
|  1| 15635| 638|  6| 32|49620.16|0.07|0.02|  N|  O|1996-01-30|1996-02-07|1996-02-03|DELIVER IN PERSON|   MAIL|   arefully slyly ex|null|
|  2|106170|1191|  1| 38|44694.46|0.00|0.05|  N|  O|1997-01-28|1997-01-14|1997-02-02| TAKE BACK RETURN|   RAIL|ven requests. dep...|null|
|  3|  4297|1798|  1| 45|54058.05|0.06|0.00|  R|  F|1994-02-02|1994-01-04|1994-02-23|             NONE|    AIR|ongside of the fu...|null|
|  3| 19036|6540|  2| 49|46796.47|0.10|0.00|  R|  F|1993-11-09|1993-12-20|1993-11-24| TAKE BACK RETURN|   RAIL| unusual accounts...|null|
|  3|128449|3474|  3| 27|39890.88|0.06|0.07|  A|  F|1994-01-16|1993-11-22|1994-01-23|DELIVER IN PERSON|   SHIP|    nal foxes wake. |null|
|  3| 29380|1883|  4|  2| 2618.76|0.01|0.06|  A|  F|1993-12-04|1994-01-07|1994-01-01|             NONE|  TRUCK|y. fluffily pendi...|null|
|  3|183095| 650|  5| 28|32986.52|0.04|0.00|  R|  F|1993-12-14|1994-01-10|1994-01-01| TAKE BACK RETURN|    FOB|ages nag slyly pe...|null|
|  3| 62143|9662|  6| 26|28733.64|0.10|0.02|  A|  F|1993-10-29|1993-12-18|1993-11-04| TAKE BACK RETURN|   RAIL|ges sleep after t...|null|
|  4| 88035|5560|  1| 30|30690.90|0.03|0.08|  N|  O|1996-01-10|1995-12-14|1996-01-18|DELIVER IN PERSON|REG AIR|- quickly regular...|null|
|  5|108570|8571|  1| 15|23678.55|0.02|0.04|  R|  F|1994-10-31|1994-08-31|1994-11-20|             NONE|    AIR|  ts wake furiously |null|
|  5|123927|3928|  2| 26|50723.92|0.07|0.08|  R|  F|1994-10-16|1994-09-25|1994-10-19|             NONE|    FOB|sts use slyly qui...|null|
|  5| 37531|  35|  3| 50|73426.50|0.08|0.03|  A|  F|1994-08-08|1994-10-13|1994-08-26|DELIVER IN PERSON|    AIR|eodolites. fluffi...|null|
|  6|139636|2150|  1| 37|61998.31|0.08|0.03|  A|  F|1992-04-27|1992-05-15|1992-05-02| TAKE BACK RETURN|  TRUCK|p furiously speci...|null|
|  7|182052|9607|  1| 12|13608.60|0.07|0.03|  N|  O|1996-05-07|1996-03-13|1996-06-03| TAKE BACK RETURN|    FOB|ss pinto beans wa...|null|
|  7|145243|7758|  2|  9|11594.16|0.08|0.08|  N|  O|1996-02-01|1996-03-02|1996-02-19| TAKE BACK RETURN|   SHIP|    es. instructions|null|
+---+------+----+---+---+--------+----+----+---+---+----------+----------+----------+-----------------+-------+--------------------+----+
only showing top 20 rows

In [30]:
data = spark.read\
            .csv("/home/orpington/Desktop/dbgen/tpch-1/lineitem.tbl", 
                 schema=StructType(csv_schema),
                 sep="|"
                )

data.show()

+--------+-------+-------+----------+--------+-------------+--------+----+----------+----------+----------+----------+-----------+-----------------+--------+--------------------+
|ORDERKEY|PARTKEY|SUPPKEY|LINENUMBER|QUANTITY|EXTENDEDPRICE|DISCOUNT| TAX|RETURNFLAG|LINESTATUS|  SHIPDATE|COMMITDATE|RECEIPTDATE|     SHIPINSTRUCT|SHIPMODE|             COMMENT|
+--------+-------+-------+----------+--------+-------------+--------+----+----------+----------+----------+----------+-----------+-----------------+--------+--------------------+
|       1| 155190|   7706|         1|      17|     21168.23|    0.04|0.02|         N|         O|1996-03-13|1996-02-12| 1996-03-22|DELIVER IN PERSON|   TRUCK|egular courts abo...|
|       1|  67310|   7311|         2|      36|     45983.16|    0.09|0.06|         N|         O|1996-04-12|1996-02-28| 1996-04-20| TAKE BACK RETURN|    MAIL|ly final dependen...|
|       1|  63700|   3701|         3|       8|     13309.60|    0.10|0.02|         N|         O|1996-01-29|1996-03-05| 1996-01-31| TAKE BACK RETURN| REG AIR|riously. regular,...|
|       1|   2132|   4633|         4|      28|     28955.64|    0.09|0.06|         N|         O|1996-04-21|1996-03-30| 1996-05-16|             NONE|     AIR|lites. fluffily e...|
|       1|  24027|   1534|         5|      24|     22824.48|    0.10|0.04|         N|         O|1996-03-30|1996-03-14| 1996-04-01|             NONE|     FOB| pending foxes. s...|
|       1|  15635|    638|         6|      32|     49620.16|    0.07|0.02|         N|         O|1996-01-30|1996-02-07| 1996-02-03|DELIVER IN PERSON|    MAIL|   arefully slyly ex|
|       2| 106170|   1191|         1|      38|     44694.46|    0.00|0.05|         N|         O|1997-01-28|1997-01-14| 1997-02-02| TAKE BACK RETURN|    RAIL|ven requests. dep...|
|       3|   4297|   1798|         1|      45|     54058.05|    0.06|0.00|         R|         F|1994-02-02|1994-01-04| 1994-02-23|             NONE|     AIR|ongside of the fu...|
|       3|  19036|   6540|         2|      49|     46796.47|    0.10|0.00|         R|         F|1993-11-09|1993-12-20| 1993-11-24| TAKE BACK RETURN|    RAIL| unusual accounts...|
|       3| 128449|   3474|         3|      27|     39890.88|    0.06|0.07|         A|         F|1994-01-16|1993-11-22| 1994-01-23|DELIVER IN PERSON|    SHIP|    nal foxes wake. |
|       3|  29380|   1883|         4|       2|      2618.76|    0.01|0.06|         A|         F|1993-12-04|1994-01-07| 1994-01-01|             NONE|   TRUCK|y. fluffily pendi...|
|       3| 183095|    650|         5|      28|     32986.52|    0.04|0.00|         R|         F|1993-12-14|1994-01-10| 1994-01-01| TAKE BACK RETURN|     FOB|ages nag slyly pe...|
|       3|  62143|   9662|         6|      26|     28733.64|    0.10|0.02|         A|         F|1993-10-29|1993-12-18| 1993-11-04| TAKE BACK RETURN|    RAIL|ges sleep after t...|
|       4|  88035|   5560|         1|      30|     30690.90|    0.03|0.08|         N|         O|1996-01-10|1995-12-14| 1996-01-18|DELIVER IN PERSON| REG AIR|- quickly regular...|
|       5| 108570|   8571|         1|      15|     23678.55|    0.02|0.04|         R|         F|1994-10-31|1994-08-31| 1994-11-20|             NONE|     AIR|  ts wake furiously |
|       5| 123927|   3928|         2|      26|     50723.92|    0.07|0.08|         R|         F|1994-10-16|1994-09-25| 1994-10-19|             NONE|     FOB|sts use slyly qui...|
|       5|  37531|     35|         3|      50|     73426.50|    0.08|0.03|         A|         F|1994-08-08|1994-10-13| 1994-08-26|DELIVER IN PERSON|     AIR|eodolites. fluffi...|
|       6| 139636|   2150|         1|      37|     61998.31|    0.08|0.03|         A|         F|1992-04-27|1992-05-15| 1992-05-02| TAKE BACK RETURN|   TRUCK|p furiously speci...|
|       7| 182052|   9607|         1|      12|     13608.60|    0.07|0.03|         N|         O|1996-05-07|1996-03-13| 1996-06-03| TAKE BACK RETURN|     FOB|ss pinto beans wa...|
|       7| 145243|   7758|         2|       9|     11594.16|    0.08|0.08|         N|         O|1996-02-01|1996-03-02| 1996-02-19| TAKE BACK RETURN|    SHIP|    es. instructions|
+--------+-------+-------+----------+--------+-------------+--------+----+----------+----------+----------+----------+-----------+-----------------+--------+--------------------+
only showing top 20 rows

In [31]:
data.count()

6001215

In [47]:
from pyspark.sql.functions import input_file_name, regexp_extract
data = spark.read\
            .csv("/home/orpington/Desktop/dbgen/tpch-1/*.tbl")\
            .groupby(input_file_name())\
            .count()
data.show(20, False)

+--------------------------------------------------------+-------+
|input_file_name()                                       |count  |
+--------------------------------------------------------+-------+
|file:///home/orpington/Desktop/dbgen/tpch-1/lineitem.tbl|6001215|
|file:///home/orpington/Desktop/dbgen/tpch-1/customer.tbl|150000 |
|file:///home/orpington/Desktop/dbgen/tpch-1/supplier.tbl|10000  |
|file:///home/orpington/Desktop/dbgen/tpch-1/partsupp.tbl|800000 |
|file:///home/orpington/Desktop/dbgen/tpch-1/nation.tbl  |25     |
|file:///home/orpington/Desktop/dbgen/tpch-1/region.tbl  |5      |
|file:///home/orpington/Desktop/dbgen/tpch-1/part.tbl    |200000 |
|file:///home/orpington/Desktop/dbgen/tpch-1/orders.tbl  |1500000|
+--------------------------------------------------------+-------+

In [60]:
from pyspark.sql.functions import input_file_name, split, reverse, size
data = spark.read\
            .csv("/home/orpington/Desktop/dbgen/tpch-1/*.tbl")\
            .withColumn("split", split(input_file_name(), r"/"))\
            .groupby(col("split")[size(col("split")) - 1].alias("table"))\
            .count()

data.show(20, False)

+------------+-------+
|table       |count  |
+------------+-------+
|lineitem.tbl|6001215|
|nation.tbl  |25     |
|supplier.tbl|10000  |
|customer.tbl|150000 |
|orders.tbl  |1500000|
|region.tbl  |5      |
|part.tbl    |200000 |
|partsupp.tbl|800000 |
+------------+-------+

In [65]:
csv = spark.read.option("sep", "|")\
                .format("csv")\
                .option("mode", "PERMISSIVE")\
                .load("/home/orpington/Desktop/dbgen/tpch-1/region_bad.tbl")
csv.show()

+--------------------+-----------+--------------------+----+
|                 _c0|        _c1|                 _c2| _c3|
+--------------------+-----------+--------------------+----+
|                   0|     AFRICA|lar deposits. bli...|null|
|                   1|    AMERICA|hs use ironic, ev...|null|
|                   2|       ASIA|ges. thinly even ...|null|
|                   3|     EUROPE|ly final courts c...|null|
|                   4|MIDDLE EAST|uickly special ac...|null|
|fdfdf bad rcrdssdssd|       null|                null|null|
+--------------------+-----------+--------------------+----+

In [71]:
csv = spark.read.option("sep", "|")\
            .format("csv")\
            .option("mode", "FAILFAST")\
            .load("/home/orpington/Desktop/dbgen/tpch-1/region_bad.tbl")
try:
    csv.show()
except:
    print("error!")

error!

In [77]:
csv = spark.read.option("sep", "|")\
                .format("csv")\
                .option("mode", "DROPMALFORMED")\
                .load("/home/orpington/Desktop/dbgen/tpch-1/region_bad.tbl")
csv.show()

+---+-----------+--------------------+----+
|_c0|        _c1|                 _c2| _c3|
+---+-----------+--------------------+----+
|  0|     AFRICA|lar deposits. bli...|null|
|  1|    AMERICA|hs use ironic, ev...|null|
|  2|       ASIA|ges. thinly even ...|null|
|  3|     EUROPE|ly final courts c...|null|
|  4|MIDDLE EAST|uickly special ac...|null|
+---+-----------+--------------------+----+

In [89]:
for _ in range(10):
    csv.write.csv("/tmp/herp2.txt", mode="append")

spark.read.csv("/tmp/herp2.txt").show()

+--------------------+--------------------+
|                 _c0|                 _c1|
+--------------------+--------------------+
|          PAR1 >@|                   |
| 40   ...|                   |
| MIDDLE E...|                null|
|ME SIAPE...|                   |
| luickly s...|                null|
|        #account	%|                null|
||rding to    hs ...| evenD s#(ges. ...|
|           �court|jole furious\ex...|
|             6|                null|
|L&5 ...|                null|
|tv&<40  ...|                null|
|��&~<MIDDLE...|                null|
|��&�<luickl...|                null|
|           6:&�	<6|                null|
|                   0|              AFRICA|
|                   1|             AMERICA|
|                   2|                ASIA|
|                   3|              EUROPE|
|                   4|         MIDDLE EAST|
|                   0|              AFRICA|
+--------------------+--------------------+
only showing top 20 rows

In [90]:
for _ in range(10):
    csv.write.csv("/tmp/herp2.txt", mode="overwrite")

spark.read.csv("/tmp/herp2.txt").show()

+---+-----------+--------------------+----+
|_c0|        _c1|                 _c2| _c3|
+---+-----------+--------------------+----+
|  0|     AFRICA|lar deposits. bli...|null|
|  1|    AMERICA|hs use ironic, ev...|null|
|  2|       ASIA|ges. thinly even ...|null|
|  3|     EUROPE|ly final courts c...|null|
|  4|MIDDLE EAST|uickly special ac...|null|
+---+-----------+--------------------+----+

In [92]:
for _ in range(10):
    csv.write.csv("/tmp/herp2.txt", mode="ignore")

spark.read.csv("/tmp/herp2.txt").show()

+---+-----------+--------------------+----+
|_c0|        _c1|                 _c2| _c3|
+---+-----------+--------------------+----+
|  0|     AFRICA|lar deposits. bli...|null|
|  1|    AMERICA|hs use ironic, ev...|null|
|  2|       ASIA|ges. thinly even ...|null|
|  3|     EUROPE|ly final courts c...|null|
|  4|MIDDLE EAST|uickly special ac...|null|
+---+-----------+--------------------+----+

In [93]:
spark.read.csv("/tmp/herp2.txt").printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [103]:
spark.read\
     .csv("/home/orpington/Desktop/herp.txt", inferSchema=True)\
     .printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [104]:
spark.read.csv("/home/orpington/Desktop/herp.txt", escape=" ").show() #??

+---+-------------+--------------------+----+
|_c0|          _c1|                 _c2| _c3|
+---+-------------+--------------------+----+
|  0|       AFRICA|lar deposits. bli...|null|
|  1|      AMERICA|hsuseironic,evenr...|null|
|  2|         ASIA|ges. thinly even ...|null|
|  3|   EUROPE    |ly final courts c...|null|
|  4|  MIDDLE EAST|uickly special ac...|null|
+---+-------------+--------------------+----+

In [106]:
spark.read.csv("/home/orpington/Desktop/herp.txt", ignoreLeadingWhiteSpace=True, ignoreTrailingWhiteSpace=True).show()

+---+-----------+--------------------+----+
|_c0|        _c1|                 _c2| _c3|
+---+-----------+--------------------+----+
|  0|     AFRICA|lar deposits. bli...|null|
|  1|    AMERICA|hs use ironic, ev...|null|
|  2|       ASIA|ges. thinly even ...|null|
|  3|     EUROPE|ly final courts c...|null|
|  4|MIDDLE EAST|uickly special ac...|null|
+---+-----------+--------------------+----+

In [113]:
spark.read.csv("/home/orpington/Desktop/herp.txt",  nullValue=1, positiveInf=2).show()

+----+-------------+--------------------+----+
| _c0|          _c1|                 _c2| _c3|
+----+-------------+--------------------+----+
|   0|       AFRICA|lar deposits. bli...|null|
|null|      AMERICA|hs use ironic, ev...|null|
|   2|         ASIA|ges. thinly even ...|null|
|   3|   EUROPE    |ly final courts c...|null|
|   4|  MIDDLE EAST|uickly special ac...|null|
+----+-------------+--------------------+----+

In [114]:
csv.write.json("/home/orpington/Desktop/herp3.txt")

In [115]:
csv.write.json("/home/orpington/Desktop/herp3.txt", wholeFile=True)

TypeError: json() got an unexpected keyword argument 'wholeFile'

In [173]:
import os
print(dir(os.path))

['__all__', '__builtins__', '__doc__', '__file__', '__name__', '__package__', '_joinrealpath', '_unicode', '_uvarprog', '_varprog', 'abspath', 'altsep', 'basename', 'commonprefix', 'curdir', 'defpath', 'devnull', 'dirname', 'exists', 'expanduser', 'expandvars', 'extsep', 'genericpath', 'getatime', 'getctime', 'getmtime', 'getsize', 'isabs', 'isdir', 'isfile', 'islink', 'ismount', 'join', 'lexists', 'normcase', 'normpath', 'os', 'pardir', 'pathsep', 'realpath', 'relpath', 'samefile', 'sameopenfile', 'samestat', 'sep', 'split', 'splitdrive', 'splitext', 'stat', 'supports_unicode_filenames', 'sys', 'walk', 'warnings']

In [204]:
from pyspark.sql.functions import col
from pyspark.sql.types import StructType, StructField, StringType

data = spark.read\
            .format("csv")\
            .option("sep", "|")\
            .load("/home/orpington/Desktop/dbgen/tpch-1/lineitem.tbl", schema=
                   StructType([StructField(row[2], StringType(), False) 
                                for row in spark.read
                                                .csv("/home/orpington/Desktop/dbgen/schema.csv")
                                                .where(col("_c1") == "LINEITEM")
                                                .collect()]))

import tempfile, os
tempdir = tempfile.gettempdir()
#compression

for write_format in ["csv", "json", "orc", "parquet"]:
#for write_format in ["csv"]:
    #for compression_format in ["uncompressed", "bzip2", "gzip"]:
    #file_name = "{}_{}.{}".format("data", compression_format, write_format)
    file_name = "{}.{}".format("data", write_format)
    full_save_path = os.path.join(tempdir, file_name)
    #data.write.mode("OVERWRITE").option("compression",compression_format).format(write_format).save(full_save_path)
    data.write.mode("OVERWRITE").format(write_format).save(full_save_path)
    print("{:<30} ---> {}".format(full_save_path, sum(os.path.getsize(os.path.join(p, fs)) for fs in f for parent, subdir, f in os.walk(full_save_path))))

/tmp/data.csv                  ---> 291830740
/tmp/data.json                 ---> 291830740
/tmp/data.orc                  ---> 291830740
/tmp/data.parquet              ---> 291830740

In [163]:
os.path.getsize("/tmp/data_gzip.json")

4096

In [192]:
[(x, y) for x in range(2) for y in range(4)]

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3)]

In [203]:
sum(os.path.getsize(os.path.join(p, fs)) for fs in f for parent, subdir, f in os.walk("/tmp/data_gzip.json"))

291830740

In [190]:
[ os.path.join(p, f) for f in files for parent, subsirs, files in os.walk("/tmp/data_gzip.json") ]

NameError: name 'files' is not defined

In [186]:
[ g for w in os.walk("/tmp/data_gzip.json") for g in w]

['/tmp/data_gzip.json',
 [],
 ['.part-00004-8837c228-0ab2-4831-b8f8-ce667cdb8706-c000.json.gz.crc',
  'part-00000-8837c228-0ab2-4831-b8f8-ce667cdb8706-c000.json.gz',
  'part-00003-8837c228-0ab2-4831-b8f8-ce667cdb8706-c000.json.gz',
  '.part-00001-8837c228-0ab2-4831-b8f8-ce667cdb8706-c000.json.gz.crc',
  'part-00004-8837c228-0ab2-4831-b8f8-ce667cdb8706-c000.json.gz',
  'part-00005-8837c228-0ab2-4831-b8f8-ce667cdb8706-c000.json.gz',
  'part-00002-8837c228-0ab2-4831-b8f8-ce667cdb8706-c000.json.gz',
  '_SUCCESS',
  '._SUCCESS.crc',
  'part-00001-8837c228-0ab2-4831-b8f8-ce667cdb8706-c000.json.gz',
  '.part-00003-8837c228-0ab2-4831-b8f8-ce667cdb8706-c000.json.gz.crc',
  '.part-00000-8837c228-0ab2-4831-b8f8-ce667cdb8706-c000.json.gz.crc',
  '.part-00002-8837c228-0ab2-4831-b8f8-ce667cdb8706-c000.json.gz.crc',
  '.part-00005-8837c228-0ab2-4831-b8f8-ce667cdb8706-c000.json.gz.crc']]

In [169]:
dir(os)

['EX_CANTCREAT',
 'EX_CONFIG',
 'EX_DATAERR',
 'EX_IOERR',
 'EX_NOHOST',
 'EX_NOINPUT',
 'EX_NOPERM',
 'EX_NOUSER',
 'EX_OK',
 'EX_OSERR',
 'EX_OSFILE',
 'EX_PROTOCOL',
 'EX_SOFTWARE',
 'EX_TEMPFAIL',
 'EX_UNAVAILABLE',
 'EX_USAGE',
 'F_OK',
 'NGROUPS_MAX',
 'O_APPEND',
 'O_ASYNC',
 'O_CREAT',
 'O_DIRECT',
 'O_DIRECTORY',
 'O_DSYNC',
 'O_EXCL',
 'O_LARGEFILE',
 'O_NDELAY',
 'O_NOATIME',
 'O_NOCTTY',
 'O_NOFOLLOW',
 'O_NONBLOCK',
 'O_RDONLY',
 'O_RDWR',
 'O_RSYNC',
 'O_SYNC',
 'O_TRUNC',
 'O_WRONLY',
 'P_NOWAIT',
 'P_NOWAITO',
 'P_WAIT',
 'R_OK',
 'SEEK_CUR',
 'SEEK_END',
 'SEEK_SET',
 'ST_APPEND',
 'ST_MANDLOCK',
 'ST_NOATIME',
 'ST_NODEV',
 'ST_NODIRATIME',
 'ST_NOEXEC',
 'ST_NOSUID',
 'ST_RDONLY',
 'ST_RELATIME',
 'ST_SYNCHRONOUS',
 'ST_WRITE',
 'TMP_MAX',
 'UserDict',
 'WCONTINUED',
 'WCOREDUMP',
 'WEXITSTATUS',
 'WIFCONTINUED',
 'WIFEXITED',
 'WIFSIGNALED',
 'WIFSTOPPED',
 'WNOHANG',
 'WSTOPSIG',
 'WTERMSIG',
 'WUNTRACED',
 'W_OK',
 'X_OK',
 '_Environ',
 '__all__',
 '__builtins__',
 '__doc__',
 '__file__',
 '__name__',
 '__package__',
 '_copy_reg',
 '_execvpe',
 '_exists',
 '_exit',
 '_get_exports_list',
 '_make_stat_result',
 '_make_statvfs_result',
 '_pickle_stat_result',
 '_pickle_statvfs_result',
 '_spawnvef',
 'abort',
 'access',
 'altsep',
 'chdir',
 'chmod',
 'chown',
 'chroot',
 'close',
 'closerange',
 'confstr',
 'confstr_names',
 'ctermid',
 'curdir',
 'defpath',
 'devnull',
 'dup',
 'dup2',
 'environ',
 'errno',
 'error',
 'execl',
 'execle',
 'execlp',
 'execlpe',
 'execv',
 'execve',
 'execvp',
 'execvpe',
 'extsep',
 'fchdir',
 'fchmod',
 'fchown',
 'fdatasync',
 'fdopen',
 'fork',
 'forkpty',
 'fpathconf',
 'fstat',
 'fstatvfs',
 'fsync',
 'ftruncate',
 'getcwd',
 'getcwdu',
 'getegid',
 'getenv',
 'geteuid',
 'getgid',
 'getgroups',
 'getloadavg',
 'getlogin',
 'getpgid',
 'getpgrp',
 'getpid',
 'getppid',
 'getresgid',
 'getresuid',
 'getsid',
 'getuid',
 'initgroups',
 'isatty',
 'kill',
 'killpg',
 'lchown',
 'linesep',
 'link',
 'listdir',
 'lseek',
 'lstat',
 'major',
 'makedev',
 'makedirs',
 'minor',
 'mkdir',
 'mkfifo',
 'mknod',
 'name',
 'nice',
 'open',
 'openpty',
 'pardir',
 'path',
 'pathconf',
 'pathconf_names',
 'pathsep',
 'pipe',
 'popen',
 'popen2',
 'popen3',
 'popen4',
 'putenv',
 'read',
 'readlink',
 'remove',
 'removedirs',
 'rename',
 'renames',
 'rmdir',
 'sep',
 'setegid',
 'seteuid',
 'setgid',
 'setgroups',
 'setpgid',
 'setpgrp',
 'setregid',
 'setresgid',
 'setresuid',
 'setreuid',
 'setsid',
 'setuid',
 'spawnl',
 'spawnle',
 'spawnlp',
 'spawnlpe',
 'spawnv',
 'spawnve',
 'spawnvp',
 'spawnvpe',
 'stat',
 'stat_float_times',
 'stat_result',
 'statvfs',
 'statvfs_result',
 'strerror',
 'symlink',
 'sys',
 'sysconf',
 'sysconf_names',
 'system',
 'tcgetpgrp',
 'tcsetpgrp',
 'tempnam',
 'times',
 'tmpfile',
 'tmpnam',
 'ttyname',
 'umask',
 'uname',
 'unlink',
 'unsetenv',
 'urandom',
 'utime',
 'wait',
 'wait3',
 'wait4',
 'waitpid',
 'walk',
 'write']

In [ ]:
from pyspark.sql.functions import col
from pyspark.sql.types import StructType, StructField, StringType
from pyspark.sql.utils import IllegalArgumentException
from py4j.protocol import Py4JJavaError

data = spark.read\
            .format("csv")\
            .option("sep", "|")\
            .load("/home/orpington/Desktop/dbgen/tpch-1/lineitem.tbl", schema=
                   StructType([StructField(row[2], StringType(), False) 
                                for row in spark.read
                                                .csv("/home/orpington/Desktop/dbgen/schema.csv")
                                                .where(col("_c1") == "LINEITEM")
                                                .collect()]))

import tempfile, os
tempdir = tempfile.gettempdir()
from math import floor
results = []

for write_format in ["csv", "json", "orc", "parquet"]:
    for compression_format in ["uncompressed", "bzip2", "gzip", "lzo", "snappy", "zlib", "none"]:
        file_name = "{}_{}.{}".format("data", compression_format, write_format)
        full_save_path = os.path.join(tempdir, file_name)
        data_write = data.write
        data_write = data_write.mode("OVERWRITE")
        data_write = data_write.option("compression",compression_format)
        data_write = data_write.format(write_format)
        size = 0
        try:
            data_write.save(full_save_path)
        except (IllegalArgumentException, Py4JJavaError):
            pass
        else:
            for parent, subdir, files in os.walk(full_save_path):
                for f in files:
                    size += os.path.getsize(os.path.join(parent, f))
        results += [(full_save_path, write_format, compression_format, size)]
        
for full_save_path, write_format, compression_format, size in reversed(sorted(results, key=lambda t: t[3])):
    magnitudes = ["", "K", "M", "G"]
    for magnitude in range(len(magnitudes)):
        if size/(1024**(magnitude+1)) < 1:
            end_size = int(floor(size/1024**(magnitude)))
            end_magnitude = magnitudes[magnitude]
            break
    print("{:<30} ---> {:<6} {}".format(full_save_path, end_size, end_magnitude))

In [1]:
!wget https://dl.dropboxusercontent.com/s/zegtlp7q47qltdh/Chinook_Sqlite.sqlite

--2017-10-03 17:21:46--  https://dl.dropboxusercontent.com/s/zegtlp7q47qltdh/Chinook_Sqlite.sqlite
Resolving dl.dropboxusercontent.com (dl.dropboxusercontent.com)... 162.125.66.6, 2620:100:6022:6::a27d:4206
Connecting to dl.dropboxusercontent.com (dl.dropboxusercontent.com)|162.125.66.6|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1091584 (1,0M) [text/plain]
Saving to: ‘Chinook_Sqlite.sqlite’

Chinook_Sqlite.sqli 100%[===================>]   1,04M  1,82MB/s    in 0,6s

2017-10-03 17:21:47 (1,82 MB/s) - ‘Chinook_Sqlite.sqlite’ saved [1091584/1091584]

In [58]:
spark.stop()

In [2]:
from pyspark import SparkContext, SparkConf
sc = SparkContext(conf=SparkConf().set("spark.driver.extraClassPath", "/home/orpington/Desktop/jars/*"))

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession(sc)

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [1]:
!echo 'spark.driver.extraClassPath /home/orpington/Desktop/jars/*' > /opt/spark/conf/spark-defaults.conf

In [ ]:
!wget https://dl.dropboxusercontent.com/s/zegtlp7q47qltdh/Chinook_Sqlite.sqlite -o /tmp/

In [17]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [18]:
data = spark.read\
             .format('jdbc')\
             .options(url='jdbc:sqlite:Chinook_Sqlite.sqlite', 
                      dbtable='employee',
                      driver='org.sqlite.JDBC')\
             .load()\
             .select("EmployeeId", "LastName", "FirstName")
data.show()

+----------+--------+---------+
|EmployeeId|LastName|FirstName|
+----------+--------+---------+
|         1|   Adams|   Andrew|
|         2| Edwards|    Nancy|
|         3| Peacock|     Jane|
|         4|    Park| Margaret|
|         5| Johnson|    Steve|
|         6|Mitchell|  Michael|
|         7|    King|   Robert|
|         8|Callahan|    Laura|
+----------+--------+---------+

In [27]:
data.write\
     .format('jdbc')\
     .mode("append")\
     .options(url=os.path.expandvars("jdbc:sqlserver://pysparksrvsql.database.windows.net:1433;database=pysparkdbsql;user=${AZ_DATABASE_ADMIN}@pysparksrvsql;password=${AZ_DATABASE_PASS};encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;"), 
              dbtable='herp',
              driver='com.microsoft.sqlserver.jdbc.SQLServerDriver')\
     .save()

In [23]:
import os
spark.read\
     .format('jdbc')\
     .options(url=os.path.expandvars("jdbc:sqlserver://pysparksrvsql.database.windows.net:1433;database=pysparkdbsql;user=${AZ_DATABASE_ADMIN}@pysparksrvsql;password=${AZ_DATABASE_PASS};encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;"), 
              dbtable='herp',
              driver='com.microsoft.sqlserver.jdbc.SQLServerDriver')\
     .load().show()

+----------+--------+---------+
|EmployeeId|LastName|FirstName|
+----------+--------+---------+
|         1|   Adams|   Andrew|
|         2| Edwards|    Nancy|
|         3| Peacock|     Jane|
|         4|    Park| Margaret|
|         5| Johnson|    Steve|
|         6|Mitchell|  Michael|
|         7|    King|   Robert|
|         8|Callahan|    Laura|
|         1|   Adams|   Andrew|
|         2| Edwards|    Nancy|
|         3| Peacock|     Jane|
|         4|    Park| Margaret|
|         5| Johnson|    Steve|
|         6|Mitchell|  Michael|
|         7|    King|   Robert|
|         8|Callahan|    Laura|
+----------+--------+---------+

In [48]:
import os
opts = {}
opts["url"] = "jdbc:sqlserver://pysparksrvsql.database.windows.net:1433;"
opts["url"] += "database=pysparkdbsql;"
opts["url"] += os.path.expandvars("user=${AZ_DATABASE_ADMIN}@pysparksrvsql;")
opts["url"] += os.path.expandvars("password=${AZ_DATABASE_PASS};")
opts["url"] += "trustServerCertificate=false;"
opts["url"] += "hostNameInCertificate=*.database.windows.net;"
opts["url"] += "loginTimeout=30;"
opts["dbtable"] = 'herp'
opts["driver"] = 'com.microsoft.sqlserver.jdbc.SQLServerDriver'

In [34]:
data.write\
     .format("jdbc")\
     .mode("append")\
     .options(**opts)\
     .save()

In [35]:
spark.read\
     .format("jdbc")\
     .options(**opts)\
     .load().show()

+----------+--------+---------+
|EmployeeId|LastName|FirstName|
+----------+--------+---------+
|         1|   Adams|   Andrew|
|         2| Edwards|    Nancy|
|         3| Peacock|     Jane|
|         4|    Park| Margaret|
|         5| Johnson|    Steve|
|         6|Mitchell|  Michael|
|         7|    King|   Robert|
|         8|Callahan|    Laura|
|         1|   Adams|   Andrew|
|         2| Edwards|    Nancy|
|         3| Peacock|     Jane|
|         1|   Adams|   Andrew|
|         2| Edwards|    Nancy|
|         3| Peacock|     Jane|
|         4|    Park| Margaret|
|         5| Johnson|    Steve|
|         6|Mitchell|  Michael|
|         7|    King|   Robert|
|         8|Callahan|    Laura|
|         4|    Park| Margaret|
+----------+--------+---------+
only showing top 20 rows

In [18]:
print(spark.sparkContext._conf.toDebugString())

spark.app.id=local-1507058403052
spark.app.name=pyspark-shell
spark.driver.extraClassPath=/home/orpington/Desktop/jars/*
spark.driver.host=192.168.8.129
spark.driver.port=46189
spark.executor.id=driver
spark.master=local[*]
spark.rdd.compress=True
spark.serializer.objectStreamReset=100
spark.submit.deployMode=client

In [39]:
db_df = spark.read\
             .format("jdbc")\
             .options(**opts)\
             .load()

In [40]:
db_df.select("LastName").distinct().explain()
#Peacock

== Physical Plan ==
*HashAggregate(keys=[LastName#209], functions=[])
+- Exchange hashpartitioning(LastName#209, 200)
   +- *HashAggregate(keys=[LastName#209], functions=[])
      +- *Scan JDBCRelation(herp) [numPartitions=1] [LastName#209] ReadSchema: struct<LastName:string>

In [41]:
db_df.where("LastName = 'Peacock'").select("LastName").distinct().explain()

== Physical Plan ==
*HashAggregate(keys=[LastName#209], functions=[])
+- Exchange hashpartitioning(LastName#209, 200)
   +- *HashAggregate(keys=[LastName#209], functions=[])
      +- *Scan JDBCRelation(herp) [numPartitions=1] [LastName#209] PushedFilters: [*IsNotNull(LastName), *EqualTo(LastName,Peacock)], ReadSchema: struct<LastName:string>

In [53]:
import os
opts = {}
opts["url"] = "jdbc:sqlserver://pysparksrvsql.database.windows.net:1433;"
opts["url"] += "database=pysparkdbsql;"
opts["url"] += os.path.expandvars("user=${AZ_DATABASE_ADMIN}@pysparksrvsql;")
opts["url"] += os.path.expandvars("password=${AZ_DATABASE_PASS};")
opts["url"] += "trustServerCertificate=false;"
opts["url"] += "hostNameInCertificate=*.database.windows.net;"
opts["url"] += "loginTimeout=30;"
opts["table"] = "(select LastName from herp where LastName = 'Peacock') as merp"
opts["properties"] = {"driver": "com.microsoft.sqlserver.jdbc.SQLServerDriver"}
spark.read.jdbc(**opts).explain()

== Physical Plan ==
*Scan JDBCRelation((select LastName from herp where LastName = 'Peacock') as merp) [numPartitions=1] [LastName#231] ReadSchema: struct<LastName:string>

In [60]:
import os
opts = {}
opts["url"] = "jdbc:sqlserver://pysparksrvsql.database.windows.net:1433;"
opts["url"] += "database=pysparkdbsql;"
opts["url"] += os.path.expandvars("user=${AZ_DATABASE_ADMIN}@pysparksrvsql;")
opts["url"] += os.path.expandvars("password=${AZ_DATABASE_PASS};")
opts["url"] += "trustServerCertificate=false;"
opts["url"] += "hostNameInCertificate=*.database.windows.net;"
opts["url"] += "loginTimeout=30;"
opts["table"] = "herp"
#opts["predicates"] = ["LastName = 'Mitchell'","LastName = 'Johnson'"]
opts["properties"] = {"driver": "com.microsoft.sqlserver.jdbc.SQLServerDriver"}
spark.read.jdbc(predicates=[
    "LastName = 'Mitchell'",
    "LastName = 'Johnson'",
    "LastName = 'Mitchell'"], **opts).show()

+----------+--------+---------+
|EmployeeId|LastName|FirstName|
+----------+--------+---------+
|         6|Mitchell|  Michael|
|         6|Mitchell|  Michael|
|         6|Mitchell|  Michael|
|         6|Mitchell|  Michael|
|         6|Mitchell|  Michael|
|         5| Johnson|    Steve|
|         5| Johnson|    Steve|
|         5| Johnson|    Steve|
|         5| Johnson|    Steve|
|         5| Johnson|    Steve|
|         6|Mitchell|  Michael|
|         6|Mitchell|  Michael|
|         6|Mitchell|  Michael|
|         6|Mitchell|  Michael|
|         6|Mitchell|  Michael|
+----------+--------+---------+

In [73]:
s = """CREATE TABLE jdbcTable
USING org.apache.spark.sql.jdbc
OPTIONS (
  url "{}",
  dbtable "{}",
  user '{}',
  password '{}'
)
""".format("jdbc:sqlserver://pysparksrvsql.database.windows.net:1433", "pysparkdbsql.herpp", "orpington", os.path.expandvars("${AZ_DATABASE_PASS}"))
spark.sql(s).show()

Py4JJavaError: An error occurred while calling o19.sql.
: com.microsoft.sqlserver.jdbc.SQLServerException: Invalid object name 'pysparkdbsql.herpp'.
	at com.microsoft.sqlserver.jdbc.SQLServerException.makeFromDatabaseError(SQLServerException.java:217)
	at com.microsoft.sqlserver.jdbc.SQLServerStatement.getNextResult(SQLServerStatement.java:1655)
	at com.microsoft.sqlserver.jdbc.SQLServerPreparedStatement.doExecutePreparedStatement(SQLServerPreparedStatement.java:440)
	at com.microsoft.sqlserver.jdbc.SQLServerPreparedStatement$PrepStmtExecCmd.doExecute(SQLServerPreparedStatement.java:385)
	at com.microsoft.sqlserver.jdbc.TDSCommand.execute(IOBuffer.java:7505)
	at com.microsoft.sqlserver.jdbc.SQLServerConnection.executeCommand(SQLServerConnection.java:2445)
	at com.microsoft.sqlserver.jdbc.SQLServerStatement.executeCommand(SQLServerStatement.java:191)
	at com.microsoft.sqlserver.jdbc.SQLServerStatement.executeStatement(SQLServerStatement.java:166)
	at com.microsoft.sqlserver.jdbc.SQLServerPreparedStatement.executeQuery(SQLServerPreparedStatement.java:297)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.resolveTable(JDBCRDD.scala:62)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRelation.<init>(JDBCRelation.scala:113)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:47)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:306)
	at org.apache.spark.sql.execution.command.CreateDataSourceTableCommand.run(createDataSourceTables.scala:77)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:58)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:56)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:67)
	at org.apache.spark.sql.Dataset.<init>(Dataset.scala:182)
	at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:67)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:623)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:748)

In [54]:
help(spark.read.jdbc)

Help on method jdbc in module pyspark.sql.readwriter:

jdbc(self, url, table, column=None, lowerBound=None, upperBound=None, numPartitions=None, predicates=None, properties=None) method of pyspark.sql.readwriter.DataFrameReader instance
    Construct a :class:`DataFrame` representing the database table named ``table``
    accessible via JDBC URL ``url`` and connection ``properties``.

    Partitions of the table will be retrieved in parallel if either ``column`` or
    ``predicates`` is specified. ``lowerBound`, ``upperBound`` and ``numPartitions``
    is needed when ``column`` is specified.

    If both ``column`` and ``predicates`` are specified, ``column`` will be used.

    .. note:: Don't create too many partitions in parallel on a large cluster;         otherwise Spark might crash your external database systems.

    :param url: a JDBC URL of the form ``jdbc:subprotocol:subname``
    :param table: the name of the table
    :param column: the name of an integer column that will be used for partitioning;
                   if this parameter is specified, then ``numPartitions``, ``lowerBound``
                   (inclusive), and ``upperBound`` (exclusive) will form partition strides
                   for generated WHERE clause expressions used to split the column
                   ``column`` evenly
    :param lowerBound: the minimum value of ``column`` used to decide partition stride
    :param upperBound: the maximum value of ``column`` used to decide partition stride
    :param numPartitions: the number of partitions
    :param predicates: a list of expressions suitable for inclusion in WHERE clauses;
                       each one defines one partition of the :class:`DataFrame`
    :param properties: a dictionary of JDBC database connection arguments. Normally at
                       least properties "user" and "password" with their corresponding values.
                       For example { 'user' : 'SYSTEM', 'password' : 'mypassword' }
    :return: a DataFrame

    .. versionadded:: 1.4

In [65]:
import os
opts = {}
opts["url"] = "jdbc:sqlserver://pysparksrvsql.database.windows.net:1433;"
opts["url"] += "database=pysparkdbsql;"
opts["url"] += os.path.expandvars("user=${AZ_DATABASE_ADMIN}@pysparksrvsql;")
opts["url"] += os.path.expandvars("password=${AZ_DATABASE_PASS};")
opts["url"] += "trustServerCertificate=false;"
opts["url"] += "hostNameInCertificate=*.database.windows.net;"
opts["url"] += "loginTimeout=30;"
opts["table"] = "herp"
#opts["predicates"] = ["LastName = 'Mitchell'","LastName = 'Johnson'"]
opts["properties"] = {"driver": "com.microsoft.sqlserver.jdbc.SQLServerDriver"}
spark.read.jdbc(column="EmployeeId", lowerBound=1L, upperBound=8L, numPartitions=4, **opts).explain()

== Physical Plan ==
*Scan JDBCRelation(herp) [numPartitions=4] [EmployeeId#300,LastName#301,FirstName#302] ReadSchema: struct<EmployeeId:int,LastName:string,FirstName:string>