In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [4]:
from tabulate import tabulate
spark.range(10).show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

In [35]:
spark.range(2).selectExpr("stack(4, id, 2, id, 4, id)").show()

+----+----+
|col0|col1|
+----+----+
|   0|   2|
|   0|   4|
|   0|null|
|null|null|
|   1|   2|
|   1|   4|
|   1|null|
|null|null|
+----+----+

In [13]:
from pyspark.sql.functions import stack

ImportError: cannot import name stack

In [36]:
from pyspark.sql import Row

In [39]:
row = Row("aaa", "bbb", "ccc", 3)
df = spark.createDataFrame([row],["n", "a" ,"b", "c"] )
df.show()

+---+---+---+---+
|  n|  a|  b|  c|
+---+---+---+---+
|aaa|bbb|ccc|  3|
+---+---+---+---+

In [51]:
df.selectExpr("stack(3, a, b, a, b, 'ppp', b)").show()

+----+----+
|col0|col1|
+----+----+
| bbb| ccc|
| bbb| ccc|
| ppp| ccc|
+----+----+

In [67]:
spark.range(1).selectExpr("stack(1, 1)").show()

+----+
|col0|
+----+
|   1|
+----+

In [68]:
spark.range(1).selectExpr("stack(2, 1)").show()

+----+
|col0|
+----+
|   1|
|null|
+----+

In [65]:
spark.range(1).selectExpr("stack(3, 1)").show()

+----+
|col0|
+----+
|   1|
|null|
|null|
+----+

In [71]:
spark.range(1).selectExpr("stack(1, 1, 'DD', 1)").show()

+----+----+----+
|col0|col1|col2|
+----+----+----+
|   1|  DD|   1|
+----+----+----+

In [75]:
spark.range(1).selectExpr("stack(2, 1, 6, 1)").show()

+----+----+
|col0|col1|
+----+----+
|   1|   6|
|   1|null|
+----+----+

In [79]:
spark.range(1).selectExpr("stack(3, 1, 6, 1, 8, 88, 888, 999)").show()

+----+----+----+
|col0|col1|col2|
+----+----+----+
|   1|   6|   1|
|   8|  88| 888|
| 999|null|null|
+----+----+----+

In [80]:
spark.range(1).selectExpr("stack(1, 1, 6, 1, 8, 88, 888, 999)").show()

+----+----+----+----+----+----+----+
|col0|col1|col2|col3|col4|col5|col6|
+----+----+----+----+----+----+----+
|   1|   6|   1|   8|  88| 888| 999|
+----+----+----+----+----+----+----+

In [81]:
spark.range(2).selectExpr("stack(1, 1, 6, 1, 8, 88, 888, 999)").show()

+----+----+----+----+----+----+----+
|col0|col1|col2|col3|col4|col5|col6|
+----+----+----+----+----+----+----+
|   1|   6|   1|   8|  88| 888| 999|
|   1|   6|   1|   8|  88| 888| 999|
+----+----+----+----+----+----+----+

In [82]:
spark.range(5).selectExpr("stack(1, 1, 6, 1, 8, 88, 888, 999)").show()

+----+----+----+----+----+----+----+
|col0|col1|col2|col3|col4|col5|col6|
+----+----+----+----+----+----+----+
|   1|   6|   1|   8|  88| 888| 999|
|   1|   6|   1|   8|  88| 888| 999|
|   1|   6|   1|   8|  88| 888| 999|
|   1|   6|   1|   8|  88| 888| 999|
|   1|   6|   1|   8|  88| 888| 999|
+----+----+----+----+----+----+----+

In [84]:
spark.range(5).selectExpr("stack(1, id, 6, 1, 8, 88, 888, 999)").show()

+----+----+----+----+----+----+----+
|col0|col1|col2|col3|col4|col5|col6|
+----+----+----+----+----+----+----+
|   0|   6|   1|   8|  88| 888| 999|
|   1|   6|   1|   8|  88| 888| 999|
|   2|   6|   1|   8|  88| 888| 999|
|   3|   6|   1|   8|  88| 888| 999|
|   4|   6|   1|   8|  88| 888| 999|
+----+----+----+----+----+----+----+

In [89]:
spark.range(5).selectExpr("stack(2, cast(id as int), 6, 1, 8, 88, 888, 999, -8, -9, cast(id as int))").show()

+----+----+----+----+----+
|col0|col1|col2|col3|col4|
+----+----+----+----+----+
|   0|   6|   1|   8|  88|
| 888| 999|  -8|  -9|   0|
|   1|   6|   1|   8|  88|
| 888| 999|  -8|  -9|   1|
|   2|   6|   1|   8|  88|
| 888| 999|  -8|  -9|   2|
|   3|   6|   1|   8|  88|
| 888| 999|  -8|  -9|   3|
|   4|   6|   1|   8|  88|
| 888| 999|  -8|  -9|   4|
+----+----+----+----+----+

In [16]:
import pyspark
rows = [pyspark.sql.Row(str(i), "a" + str(i),"b" + str(i),"c" + str(i)) for i in range(1,4)]
df = spark.createDataFrame(rows, ["id", "a", "b", "c"])
print(tabulate(df.collect(), df.columns))
print("")
df2 = df.selectExpr("stack(3, id, 'a', a, id, 'b', b, id, 'c', c)")
print(tabulate(df2.collect(), df2.columns))

  id  a    b    c
----  ---  ---  ---
   1  a1   b1   c1
   2  a2   b2   c2
   3  a3   b3   c3

  col0  col1    col2
------  ------  ------
     1  a       a1
     1  b       b1
     1  c       c1
     2  a       a2
     2  b       b2
     2  c       c2
     3  a       a3
     3  b       b3
     3  c       c3

In [5]:
print(tabulate(list("sdfg")))

-
s
d
f
g
-

In [108]:
import os
data_dir = os.path.join(os.path.expandvars("$HOME"), "dbgen-data")
[os.path.join(data_dir, f) for f in os.listdir(data_dir)]

['/home/orpington/dbgen-data/nation.tbl',
 '/home/orpington/dbgen-data/partsupp.tbl',
 '/home/orpington/dbgen-data/orders.tbl',
 '/home/orpington/dbgen-data/part.tbl',
 '/home/orpington/dbgen-data/supplier.tbl',
 '/home/orpington/dbgen-data/customer.tbl',
 '/home/orpington/dbgen-data/lineitem.tbl',
 '/home/orpington/dbgen-data/region.tbl']

In [128]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autocall  %automagic  %autosave  %bookmark  %cat  %cd  %clear  %colors  %config  %connect_info  %cp  %debug  %dhist  %dirs  %doctest_mode  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %lf  %lk  %ll  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %lx  %macro  %magic  %man  %matplotlib  %mkdir  %more  %mv  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %popd  %pprint  %precision  %profile  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %rep  %rerun  %reset  %reset_selective  %rm  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [57]:
df = spark.read\
          .format("csv")\
          .option("sep", "|")\
          .option("header", False)\
          .option("inferSchema", True)\
          .option("ignoreTrailingWhitespace", True)\
          .load("/home/orpington/dbgen-data/nation.tbl")
        
for i, new_name in enumerate(["id", "country", "num","desc", "n"]):
    df = df.withColumnRenamed(df.columns[i], new_name)

In [59]:
print(tabulate(df.collect(), df.columns))

  id  country           num  desc                                                                                                               n
----  --------------  -----  -----------------------------------------------------------------------------------------------------------------  ---
   0  ALGERIA             0  haggle. carefully final deposits detect slyly agai
   1  ARGENTINA           1  al foxes promise slyly according to the regular accounts. bold requests alon
   2  BRAZIL              1  y alongside of the pending deposits. carefully special packages are about the ironic forges. slyly special
   3  CANADA              1  eas hang ironic, silent packages. slyly regular packages are furiously over the tithes. fluffily bold
   4  EGYPT               4  y above the carefully unusual theodolites. final dugouts are quickly across the furiously regular d
   5  ETHIOPIA            0  ven packages wake quickly. regu
   6  FRANCE              3  refully final requests. regular, ironi
   7  GERMANY             3  l platelets. regular accounts x-ray: unusual, regular acco
   8  INDIA               2  ss excuses cajole slyly across the packages. deposits print aroun
   9  INDONESIA           2  slyly express asymptotes. regular deposits haggle slyly. carefully ironic hockey players sleep blithely. carefull
  10  IRAN                4  efully alongside of the slyly final dependencies.
  11  IRAQ                4  nic deposits boost atop the quickly final requests? quickly regula
  12  JAPAN               2  ously. final, express gifts cajole a
  13  JORDAN              4  ic deposits are blithely about the carefully regular pa
  14  KENYA               0  pending excuses haggle furiously deposits. pending, express pinto beans wake fluffily past t
  15  MOROCCO             0  rns. blithely bold courts among the closely regular packages use furiously bold platelets?
  16  MOZAMBIQUE          0  s. ironic, unusual asymptotes wake blithely r
  17  PERU                1  platelets. blithely pending dependencies use fluffily across the even pinto beans. carefully silent accoun
  18  CHINA               2  c dependencies. furiously express notornis sleep slyly regular accounts. ideas sleep. depos
  19  ROMANIA             3  ular asymptotes are about the furious multipliers. express dependencies nag above the ironically ironic account
  20  SAUDI ARABIA        4  ts. silent requests haggle. closely express packages sleep across the blithely
  21  VIETNAM             2  hely enticingly express accounts. even, final
  22  RUSSIA              3  requests against the platelets use never according to the quickly regular pint
  23  UNITED KINGDOM      3  eans boost carefully special requests. accounts are. carefull
  24  UNITED STATES       1  y final packages. slow foxes cajole quickly. quickly silent platelets breach ironic accounts. unusual pinto be

In [60]:
df.show()

+---+----------+---+--------------------+----+
| id|   country|num|                desc|   n|
+---+----------+---+--------------------+----+
|  0|   ALGERIA|  0| haggle. carefull...|null|
|  1| ARGENTINA|  1|al foxes promise ...|null|
|  2|    BRAZIL|  1|y alongside of th...|null|
|  3|    CANADA|  1|eas hang ironic, ...|null|
|  4|     EGYPT|  4|y above the caref...|null|
|  5|  ETHIOPIA|  0|ven packages wake...|null|
|  6|    FRANCE|  3|refully final req...|null|
|  7|   GERMANY|  3|l platelets. regu...|null|
|  8|     INDIA|  2|ss excuses cajole...|null|
|  9| INDONESIA|  2| slyly express as...|null|
| 10|      IRAN|  4|efully alongside ...|null|
| 11|      IRAQ|  4|nic deposits boos...|null|
| 12|     JAPAN|  2|ously. final, exp...|null|
| 13|    JORDAN|  4|ic deposits are b...|null|
| 14|     KENYA|  0| pending excuses ...|null|
| 15|   MOROCCO|  0|rns. blithely bol...|null|
| 16|MOZAMBIQUE|  0|s. ironic, unusua...|null|
| 17|      PERU|  1|platelets. blithe...|null|
| 18|     CHINA|  2|c dependencies. f...|null|
| 19|   ROMANIA|  3|ular asymptotes a...|null|
+---+----------+---+--------------------+----+
only showing top 20 rows

In [61]:
from pyspark.sql.functions import *

In [74]:
all_i = col("country").startswith("I")
or_j = all_i | col("country").startswith("J")
df.where(or_j)\
  .filter(col("country") != "IRAN").show()

+---+---------+---+--------------------+----+
| id|  country|num|                desc|   n|
+---+---------+---+--------------------+----+
|  8|    INDIA|  2|ss excuses cajole...|null|
|  9|INDONESIA|  2| slyly express as...|null|
| 11|     IRAQ|  4|nic deposits boos...|null|
| 12|    JAPAN|  2|ously. final, exp...|null|
| 13|   JORDAN|  4|ic deposits are b...|null|
+---+---------+---+--------------------+----+

In [89]:
sql = """
SELECT *
FROM df
WHERE (instr(country, 'I') = 1 or instr(country, 'J') = 1)
  AND country != 'IRAN'
"""

In [90]:
spark.sql("show functions").where(col("function").contains("s")).show()

+--------------------+
|            function|
+--------------------+
|                 abs|
|                acos|
|          add_months|
|approx_count_dist...|
|      array_contains|
|               ascii|
|                asin|
|         assert_true|
|              base64|
|                cast|
|            coalesce|
|        collect_list|
|         collect_set|
|           concat_ws|
|                 cos|
|                cosh|
|    count_min_sketch|
|          covar_samp|
|           cume_dist|
|    current_database|
+--------------------+
only showing top 20 rows

In [91]:
df.createOrReplaceTempView("df")
df_sql = spark.sql(sql)
df_sql.show()

+---+---------+---+--------------------+----+
| id|  country|num|                desc|   n|
+---+---------+---+--------------------+----+
|  8|    INDIA|  2|ss excuses cajole...|null|
|  9|INDONESIA|  2| slyly express as...|null|
| 11|     IRAQ|  4|nic deposits boos...|null|
| 12|    JAPAN|  2|ously. final, exp...|null|
| 13|   JORDAN|  4|ic deposits are b...|null|
+---+---------+---+--------------------+----+

In [93]:
b = ((col("id") % 3) == 0)
df.withColumn("is", b).where("is").show()

+---+-------------+---+--------------------+----+----+
| id|      country|num|                desc|   n|  is|
+---+-------------+---+--------------------+----+----+
|  0|      ALGERIA|  0| haggle. carefull...|null|true|
|  3|       CANADA|  1|eas hang ironic, ...|null|true|
|  6|       FRANCE|  3|refully final req...|null|true|
|  9|    INDONESIA|  2| slyly express as...|null|true|
| 12|        JAPAN|  2|ously. final, exp...|null|true|
| 15|      MOROCCO|  0|rns. blithely bol...|null|true|
| 18|        CHINA|  2|c dependencies. f...|null|true|
| 21|      VIETNAM|  2|hely enticingly e...|null|true|
| 24|UNITED STATES|  1|y final packages....|null|true|
+---+-------------+---+--------------------+----+----+

In [115]:
exprs = []
exprs += [pow(col("id") * col("num"), 2).alias("power")]
exprs += [expr("POWER((id * num), 2) +1 as value")]
exprs += [round(col("id") / 2).alias("rounded")]

df.select(expr("country"), *exprs).show(3)
#df.select(expr("country"),
#          value.alias("value")).show()

+----------+------+------+-------+
|   country| power| value|rounded|
+----------+------+------+-------+
|   ALGERIA|   0.0|   1.0|    0.0|
| ARGENTINA|   1.0|   2.0|    1.0|
|    BRAZIL|   4.0|   5.0|    1.0|
|    CANADA|   9.0|  10.0|    2.0|
|     EGYPT| 256.0| 257.0|    2.0|
|  ETHIOPIA|   0.0|   1.0|    3.0|
|    FRANCE| 324.0| 325.0|    3.0|
|   GERMANY| 441.0| 442.0|    4.0|
|     INDIA| 256.0| 257.0|    4.0|
| INDONESIA| 324.0| 325.0|    5.0|
|      IRAN|1600.0|1601.0|    5.0|
|      IRAQ|1936.0|1937.0|    6.0|
|     JAPAN| 576.0| 577.0|    6.0|
|    JORDAN|2704.0|2705.0|    7.0|
|     KENYA|   0.0|   1.0|    7.0|
|   MOROCCO|   0.0|   1.0|    8.0|
|MOZAMBIQUE|   0.0|   1.0|    8.0|
|      PERU| 289.0| 290.0|    9.0|
|     CHINA|1296.0|1297.0|    9.0|
|   ROMANIA|3249.0|3250.0|   10.0|
+----------+------+------+-------+
only showing top 20 rows

In [120]:
spark.range(1).select(round(lit(2.5)), bround(lit(2.5))).show(3)

+-------------+--------------+
|round(2.5, 0)|bround(2.5, 0)|
+-------------+--------------+
|          3.0|           2.0|
+-------------+--------------+

In [121]:
df.stat.corr("id", "num")

0.18042684432712935

In [123]:
df.select(corr("id", "num")).show()

+-------------------+
|      corr(id, num)|
+-------------------+
|0.18042684432712935|
+-------------------+

In [125]:
df.describe().show()

+-------+-----------------+-------+------------------+--------------------+----+
|summary|               id|country|               num|                desc|   n|
+-------+-----------------+-------+------------------+--------------------+----+
|  count|               25|     25|                25|                  25|   0|
|   mean|             12.0|   null|               2.0|                null|null|
| stddev|7.359800721939872|   null|1.4433756729740645|                null|null|
|    min|                0|ALGERIA|                 0| haggle. carefull...|null|
|    max|               24|VIETNAM|                 4|y final packages....|null|
+-------+-----------------+-------+------------------+--------------------+----+

In [133]:
df.withColumn("lens", length(col("country")).cast("string"))\
  .crosstab("lens", "num").show()

+--------+---+---+---+---+---+
|lens_num|  0|  1|  2|  3|  4|
+--------+---+---+---+---+---+
|      12|  0|  0|  0|  0|  1|
|       8|  1|  0|  0|  0|  0|
|       4|  0|  1|  0|  0|  2|
|       9|  0|  1|  1|  0|  0|
|      13|  0|  1|  0|  0|  0|
|       5|  1|  0|  3|  0|  1|
|      10|  1|  0|  0|  0|  0|
|       6|  0|  2|  0|  2|  1|
|      14|  0|  0|  0|  1|  0|
|       7|  2|  0|  1|  2|  0|
+--------+---+---+---+---+---+

In [137]:
freq = df.withColumn("lens", length(col("country")).cast("string"))\
         .freqItems(["lens"])
freq.select(explode(freq.columns[0])).show()

+---+
|col|
+---+
|  5|
| 12|
|  8|
|  7|
|  4|
| 14|
|  6|
|  9|
| 10|
| 13|
+---+

In [181]:
head = ["initcap"]
exprs = [initcap(concat(lit("country "),col("country")))]
head += ["lower"]
exprs += [lower(exprs[0])]
head += ["upper"]
exprs += [upper(exprs[0])]
head += ["lit"]
exprs += [lit("ddd")]
print(tabulate(df.select(*exprs).collect(), head))

initcap                 lower                   upper                   lit
----------------------  ----------------------  ----------------------  -----
Country Algeria         country algeria         COUNTRY ALGERIA         ddd
Country Argentina       country argentina       COUNTRY ARGENTINA       ddd
Country Brazil          country brazil          COUNTRY BRAZIL          ddd
Country Canada          country canada          COUNTRY CANADA          ddd
Country Egypt           country egypt           COUNTRY EGYPT           ddd
Country Ethiopia        country ethiopia        COUNTRY ETHIOPIA        ddd
Country France          country france          COUNTRY FRANCE          ddd
Country Germany         country germany         COUNTRY GERMANY         ddd
Country India           country india           COUNTRY INDIA           ddd
Country Indonesia       country indonesia       COUNTRY INDONESIA       ddd
Country Iran            country iran            COUNTRY IRAN            ddd
Country Iraq            country iraq            COUNTRY IRAQ            ddd
Country Japan           country japan           COUNTRY JAPAN           ddd
Country Jordan          country jordan          COUNTRY JORDAN          ddd
Country Kenya           country kenya           COUNTRY KENYA           ddd
Country Morocco         country morocco         COUNTRY MOROCCO         ddd
Country Mozambique      country mozambique      COUNTRY MOZAMBIQUE      ddd
Country Peru            country peru            COUNTRY PERU            ddd
Country China           country china           COUNTRY CHINA           ddd
Country Romania         country romania         COUNTRY ROMANIA         ddd
Country Saudi Arabia    country saudi arabia    COUNTRY SAUDI ARABIA    ddd
Country Vietnam         country vietnam         COUNTRY VIETNAM         ddd
Country Russia          country russia          COUNTRY RUSSIA          ddd
Country United Kingdom  country united kingdom  COUNTRY UNITED KINGDOM  ddd
Country United States   country united states   COUNTRY UNITED STATES   ddd

In [217]:
clean = lambda fun: regexp_replace(fun(regexp_replace(exprs[1], "=", " ")), " ", "=")
exprs = [lpad(col("country"), 8, "=")]
exprs += [rpad(exprs[0], 12, "=")]
exprs += [clean(ltrim)]
exprs += [clean(rtrim)]
exprs += [clean(trim)]
exprs += [regexp_replace(col("country"), "(I).", "$1-")]
exprs += [translate(col("country"), "AL", "_+")]
exprs += [regexp_extract(col("country"), r"(\w)(\w)(\w)", 3)]
print(tabulate(df.sample(False, 0.1, 5).select(*exprs).collect(), ["lpad", "rpad", "ltrim", "rtrim", "trim", "regexp", "translate", "extr"]))

lpad      rpad          ltrim         rtrim     trim      regexp         translate      extr
--------  ------------  ------------  --------  --------  -------------  -------------  ------
=ALGERIA  =ALGERIA====  ALGERIA====   =ALGERIA  ALGERIA   ALGERI-        _+GERI_        G
=GERMANY  =GERMANY====  GERMANY====   =GERMANY  GERMANY   GERMANY        GERM_NY        R
===INDIA  ===INDIA====  INDIA====     ===INDIA  INDIA     I-DI-          INDI_          D
===JAPAN  ===JAPAN====  JAPAN====     ===JAPAN  JAPAN     JAPAN          J_P_N          P
UNITED S  UNITED S====  UNITED=S====  UNITED=S  UNITED=S  UNI-ED STATES  UNITED ST_TES  I

In [192]:
help(ltrim)

Help on function ltrim in module pyspark.sql.functions:

ltrim(col)
    Trim the spaces from left end for the specified string value.

    .. versionadded:: 1.5

In [218]:
col("country").contains("A")

Column<contains(country, A)>

In [219]:
instr(col("country"),"A")

Column<(instr(country, A) >= 1)>

In [223]:
df.select("country", instr(col("country"),"A"), locate("A",col("country"))).show()

+----------+-----------------+---------------------+
|   country|instr(country, A)|locate(A, country, 1)|
+----------+-----------------+---------------------+
|   ALGERIA|                1|                    1|
| ARGENTINA|                1|                    1|
|    BRAZIL|                3|                    3|
|    CANADA|                2|                    2|
|     EGYPT|                0|                    0|
|  ETHIOPIA|                8|                    8|
|    FRANCE|                3|                    3|
|   GERMANY|                5|                    5|
|     INDIA|                5|                    5|
| INDONESIA|                9|                    9|
|      IRAN|                3|                    3|
|      IRAQ|                3|                    3|
|     JAPAN|                2|                    2|
|    JORDAN|                5|                    5|
|     KENYA|                5|                    5|
|   MOROCCO|                0|                    0|
|MOZAMBIQUE|                4|                    4|
|      PERU|                0|                    0|
|     CHINA|                5|                    5|
|   ROMANIA|                4|                    4|
+----------+-----------------+---------------------+
only showing top 20 rows