In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [10]:
!ls ~/dbgen-data

customer.tbl  nation.tbl  partsupp.tbl	region.tbl
lineitem.tbl  orders.tbl  part.tbl	supplier.tbl

In [69]:
spark.sql("select 1+1").show()

+-------+
|(1 + 1)|
+-------+
|      2|
+-------+

In [60]:
!ls /home/orpington/Desktop/dbgen

schema.csv  tpch-1  tpch-100  tpch-dbgen

In [87]:
spark.read.csv("/home/orpington/Desktop/dbgen/schema.csv", inferSchema=True).schema

StructType(List(StructField(_c0,IntegerType,true),StructField(_c1,StringType,true),StructField(_c2,StringType,true)))

In [67]:
spark.read.csv("/home/orpington/Desktop/dbgen/schema.csv").where("instr(_c2, 'CUST') != 0").show()

+---+--------+-------+
|_c0|     _c1|    _c2|
+---+--------+-------+
|  1|CUSTOMER|CUSTKEY|
|  2|  ORDERS|CUSTKEY|
+---+--------+-------+

In [88]:
customers = spark.read.csv("/home/orpington/Desktop/dbgen/tpch-1/customer.tbl", inferSchema=True, sep="|")
customers.show(5)

+---+------------------+--------------------+---+---------------+-------+----------+--------------------+----+
|_c0|               _c1|                 _c2|_c3|            _c4|    _c5|       _c6|                 _c7| _c8|
+---+------------------+--------------------+---+---------------+-------+----------+--------------------+----+
|  1|Customer#000000001|   IVhzIApeRb ot,c,E| 15|25-989-741-2988| 711.56|  BUILDING|to the even, regu...|null|
|  2|Customer#000000002|XSTf4,NCwDVaWNe6t...| 13|23-768-687-3665| 121.65|AUTOMOBILE|l accounts. blith...|null|
|  3|Customer#000000003|        MG9kdTD2WBHm|  1|11-719-748-3364|7498.12|AUTOMOBILE| deposits eat sly...|null|
|  4|Customer#000000004|         XxVSJsLAGtn|  4|14-128-190-5944|2866.83| MACHINERY| requests. final,...|null|
|  5|Customer#000000005|KvpyuHCplrB84WgAi...|  3|13-750-942-6364| 794.47| HOUSEHOLD|n accounts will h...|null|
+---+------------------+--------------------+---+---------------+-------+----------+--------------------+----+
only showing top 5 rows

In [54]:
customers.select(customers[0]).describe().show()

+-------+------------------+
|summary|               _c0|
+-------+------------------+
|  count|            150000|
|   mean|           75000.5|
| stddev|43301.414526548666|
|    min|                 1|
|    max|             99999|
+-------+------------------+

In [21]:
orders = spark.read.csv("/home/orpington/Desktop/dbgen/tpch-1/orders.tbl", sep="|")
orders.limit(5).show()

+---+------+---+---------+----------+--------+---------------+---+--------------------+----+
|_c0|   _c1|_c2|      _c3|       _c4|     _c5|            _c6|_c7|                 _c8| _c9|
+---+------+---+---------+----------+--------+---------------+---+--------------------+----+
|  1| 36901|  O|173665.47|1996-01-02|   5-LOW|Clerk#000000951|  0|nstructions sleep...|null|
|  2| 78002|  O| 46929.18|1996-12-01|1-URGENT|Clerk#000000880|  0| foxes. pending a...|null|
|  3|123314|  F|193846.25|1993-10-14|   5-LOW|Clerk#000000955|  0|sly final account...|null|
|  4|136777|  O| 32151.78|1995-10-11|   5-LOW|Clerk#000000124|  0|sits. slyly regul...|null|
|  5| 44485|  F|144659.20|1994-07-30|   5-LOW|Clerk#000000925|  0|quickly. bold dep...|null|
+---+------+---+---------+----------+--------+---------------+---+--------------------+----+

In [57]:
spark.read.csv("/home/orpington/Desktop/dbgen/tpch-1/lineitem.tbl", sep="|").describe().toPandas()

,summary,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10,_c11,_c12,_c13,_c14,_c15,_c16
0,count,6001215,6001215,6001215,6001215,6001215,6001215,6001215,6001215,6001215,6001215,6001215,6001215,6001215,6001215,6001215,6001215,0
1,mean,3000279.604204982,100017.98932999402,5000.602606138924,3.0005757167506912,25.507967136654827,38255.138484657095,0.049999430115268445,0.04001350893116897,None,None,None,None,None,None,None,None,None
2,stddev,1732187.8734803204,57735.69082650498,2886.961998730632,1.732431403651942,14.42626253701689,23300.43871096209,0.03161985510812605,0.02581655179884265,None,None,None,None,None,None,None,None,None
3,min,1,1,1,1,1,1000.00,0.00,0.00,A,F,1992-01-02,1992-01-31,1992-01-04,COLLECT COD,AIR,Tiresias,None
4,max,999975,99999,9999,7,9,99999.50,0.10,0.08,R,O,1998-12-01,1998-10-31,1998-12-31,TAKE BACK RETURN,TRUCK,zzle? slyly final platelets sleep quickly.,None

In [56]:
orders.describe().toPandas()

,summary,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9
0,count,1500000,1500000,1500000,1500000,1500000,1500000,1500000,1500000,1500000,0
1,mean,2999991.5,75006.04057466667,None,151219.5376316404,None,None,None,0.0,None,None
2,stddev,1732051.384920602,43304.48900767441,None,88621.43136365115,None,None,None,0.0,None,None
3,min,1,1,F,1000.55,1992-01-01,1-URGENT,Clerk#000000001,0,Tiresias about the blithely ironic a,None
4,max,999975,99998,P,99999.89,1998-08-02,5-LOW,Clerk#000001000,0,zzle? furiously ironic instructions among the ...,None

In [35]:
from pyspark.sql.functions import col, lit
customer_ids = [lit(customer_id) 
                for cutomer_id 
                in customers.select(customers[0])\
                            .distinct()\
                            .rdd.flatMap(lambda r: r)\
                            .collect()]

customer_is_in_orders = orders.groupby(orders[1].isin(*customer_ids)).count()
customer_is_in_orders.show()

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [39]:
customer_is_in_orders.select(customer_is_in_orders[0].alias("herp"), customer_is_in_orders[1].alias("merp")).show()

+-----+-------+
| herp|   merp|
+-----+-------+
| true|     17|
|false|1499983|
+-----+-------+

In [49]:
customer_is_in_orders.withColumnRenamed(customer_is_in_orders.columns[0], "is in orders")\
                     .withColumnRenamed(customer_is_in_orders.columns[1], "count").show()

+------------+-------+
|is in orders|  count|
+------------+-------+
|        true|     17|
|       false|1499983|
+------------+-------+

In [51]:
orders.join(customers, customers[0] == orders[1], "left_semi").show()

+---+------+---+---------+----------+---------------+---------------+---+--------------------+----+
|_c0|   _c1|_c2|      _c3|       _c4|            _c5|            _c6|_c7|                 _c8| _c9|
+---+------+---+---------+----------+---------------+---------------+---+--------------------+----+
|  1| 36901|  O|173665.47|1996-01-02|          5-LOW|Clerk#000000951|  0|nstructions sleep...|null|
|  2| 78002|  O| 46929.18|1996-12-01|       1-URGENT|Clerk#000000880|  0| foxes. pending a...|null|
|  3|123314|  F|193846.25|1993-10-14|          5-LOW|Clerk#000000955|  0|sly final account...|null|
|  4|136777|  O| 32151.78|1995-10-11|          5-LOW|Clerk#000000124|  0|sits. slyly regul...|null|
|  5| 44485|  F|144659.20|1994-07-30|          5-LOW|Clerk#000000925|  0|quickly. bold dep...|null|
|  6| 55624|  F| 58749.59|1992-02-21|4-NOT SPECIFIED|Clerk#000000058|  0|ggle. special, fi...|null|
|  7| 39136|  O|252004.18|1996-01-10|         2-HIGH|Clerk#000000470|  0|ly special requests |null|
| 32|130057|  O|208660.75|1995-07-16|         2-HIGH|Clerk#000000616|  0|ise blithely bold...|null|
| 33| 66958|  F|163243.98|1993-10-27|       3-MEDIUM|Clerk#000000409|  0|uriously. furious...|null|
| 34| 61001|  O| 58949.67|1998-07-21|       3-MEDIUM|Clerk#000000223|  0|ly final packages...|null|
| 35|127588|  O|253724.56|1995-10-23|4-NOT SPECIFIED|Clerk#000000259|  0|zzle. carefully e...|null|
| 36|115252|  O| 68289.96|1995-11-03|       1-URGENT|Clerk#000000358|  0| quick packages a...|null|
| 37| 86116|  F|206680.66|1992-06-03|       3-MEDIUM|Clerk#000000456|  0|kly regular pinto...|null|
| 38|124828|  O| 82500.05|1996-08-21|4-NOT SPECIFIED|Clerk#000000604|  0|haggle blithely. ...|null|
| 39| 81763|  O|341734.47|1996-09-20|       3-MEDIUM|Clerk#000000659|  0|ole express, iron...|null|
| 64| 32113|  F| 39414.99|1994-07-16|       3-MEDIUM|Clerk#000000661|  0|wake fluffily. so...|null|
| 65| 16252|  P|110643.60|1995-03-18|       1-URGENT|Clerk#000000632|  0|ular requests are...|null|
| 66|129200|  F|103740.67|1994-01-20|          5-LOW|Clerk#000000743|  0|y pending request...|null|
| 67| 56614|  O|169405.01|1996-12-19|4-NOT SPECIFIED|Clerk#000000547|  0|symptotes haggle ...|null|
| 68| 28547|  O|330793.52|1998-04-18|       3-MEDIUM|Clerk#000000440|  0| pinto beans slee...|null|
+---+------+---+---------+----------+---------------+---------------+---+--------------------+----+
only showing top 20 rows

In [112]:
schemas = spark.read\
               .csv("/home/orpington/Desktop/dbgen/schema.csv")\
               .selectExpr("encode(_c1, 'UTF-8') as table", 
                           "encode(_c2, 'UTF-8') as col")\
               .groupby("table")\
               .agg({"col":"collect_list"})\
               .rdd.map(lambda r: (str(r[0]), [str(e) for e in r[1]]))\
               .collectAsMap()
schemas.keys()

['CUSTOMER',
 'LINEITEM',
 'PARTSUPP',
 'REGION',
 'NATION',
 'PART',
 'SUPPLIER',
 'ORDERS']

In [121]:
df_orders = spark.createDataFrame(orders.rdd, 
                                  schema=schemas["ORDERS"], 
                                  samplingRatio=1)

In [132]:
from tabulate import tabulate 
print(tabulate(df_orders.select(*df_orders.columns[:7]).limit(5).collect(), df_orders.columns[:7]))
print
print(tabulate(df_orders.select(*df_orders.columns[7:-1]).limit(5).collect(), df_orders.columns[7:]))

  ORDERKEY    CUSTKEY  ORDERSTATUS      TOTALPRICE  ORDERDATE    ORDERPRIORITY    CLERK
----------  ---------  -------------  ------------  -----------  ---------------  ---------------
         1      36901  O                  173665    1996-01-02   5-LOW            Clerk#000000951
         2      78002  O                   46929.2  1996-12-01   1-URGENT         Clerk#000000880
         3     123314  F                  193846    1993-10-14   5-LOW            Clerk#000000955
         4     136777  O                   32151.8  1995-10-11   5-LOW            Clerk#000000124
         5      44485  F                  144659    1994-07-30   5-LOW            Clerk#000000925

  SHIPPRIORITY  COMMENT
--------------  -------------------------------------------------------------------------
             0  nstructions sleep furiously among
             0  foxes. pending accounts at the pending, silent asymptot
             0  sly final accounts boost. carefully regular ideas cajole carefully. depos
             0  sits. slyly regular warthogs cajole. regular, regular theodolites acro
             0  quickly. bold deposits sleep slyly. packages use slyly

In [122]:
df_customers = spark.createDataFrame(customers.rdd, 
                                     schema=schemas["CUSTOMER"], 
                                     samplingRatio=0.5)

In [140]:
from tabulate import tabulate 
columns_up = df_customers.columns[:6]
columns_down = df_customers.columns[6:-1]
df_part = lambda cols: df_customers.select(*cols).limit(5).collect()
for_tabulate = lambda cols: [df_part(cols), cols] 
do_tabulate = lambda cols: tabulate(*for_tabulate(cols))

print(do_tabulate(columns_up))
print
print(do_tabulate(columns_down))

  CUSTKEY  NAME                ADDRESS                           NATIONKEY  PHONE              ACCTBAL
---------  ------------------  ------------------------------  -----------  ---------------  ---------
        1  Customer#000000001  IVhzIApeRb ot,c,E                        15  25-989-741-2988     711.56
        2  Customer#000000002  XSTf4,NCwDVaWNe6tEgvwfmRchLXak           13  23-768-687-3665     121.65
        3  Customer#000000003  MG9kdTD2WBHm                              1  11-719-748-3364    7498.12
        4  Customer#000000004  XxVSJsLAGtn                               4  14-128-190-5944    2866.83
        5  Customer#000000005  KvpyuHCplrB84WgAiGV6sYpZq7Tj              3  13-750-942-6364     794.47

MKTSEGMENT    COMMENT
------------  -----------------------------------------------------------------------------------------------------
BUILDING      to the even, regular platelets. regular, ironic epitaphs nag e
AUTOMOBILE    l accounts. blithely ironic theodolites integrate boldly: caref
AUTOMOBILE    deposits eat slyly ironic, even instructions. express foxes detect slyly. blithely even accounts abov
MACHINERY     requests. final, regular ideas sleep final accou
HOUSEHOLD     n accounts will have to unwind. foxes cajole accor

In [147]:
spark.catalog.listFunctions()

[Function(name=u'!', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Not', isTemporary=True),
 Function(name=u'%', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Remainder', isTemporary=True),
 Function(name=u'&', description=None, className=u'org.apache.spark.sql.catalyst.expressions.BitwiseAnd', isTemporary=True),
 Function(name=u'*', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Multiply', isTemporary=True),
 Function(name=u'+', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Add', isTemporary=True),
 Function(name=u'-', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Subtract', isTemporary=True),
 Function(name=u'/', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Divide', isTemporary=True),
 Function(name=u'<', description=None, className=u'org.apache.spark.sql.catalyst.expressions.LessThan', isTemporary=True),
 Function(name=u'<=', description=None, className=u'org.apache.spark.sql.catalyst.expressions.LessThanOrEqual', isTemporary=True),
 Function(name=u'<=>', description=None, className=u'org.apache.spark.sql.catalyst.expressions.EqualNullSafe', isTemporary=True),
 Function(name=u'=', description=None, className=u'org.apache.spark.sql.catalyst.expressions.EqualTo', isTemporary=True),
 Function(name=u'==', description=None, className=u'org.apache.spark.sql.catalyst.expressions.EqualTo', isTemporary=True),
 Function(name=u'>', description=None, className=u'org.apache.spark.sql.catalyst.expressions.GreaterThan', isTemporary=True),
 Function(name=u'>=', description=None, className=u'org.apache.spark.sql.catalyst.expressions.GreaterThanOrEqual', isTemporary=True),
 Function(name=u'^', description=None, className=u'org.apache.spark.sql.catalyst.expressions.BitwiseXor', isTemporary=True),
 Function(name=u'abs', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Abs', isTemporary=True),
 Function(name=u'acos', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Acos', isTemporary=True),
 Function(name=u'add_months', description=None, className=u'org.apache.spark.sql.catalyst.expressions.AddMonths', isTemporary=True),
 Function(name=u'and', description=None, className=u'org.apache.spark.sql.catalyst.expressions.And', isTemporary=True),
 Function(name=u'approx_count_distinct', description=None, className=u'org.apache.spark.sql.catalyst.expressions.aggregate.HyperLogLogPlusPlus', isTemporary=True),
 Function(name=u'approx_percentile', description=None, className=u'org.apache.spark.sql.catalyst.expressions.aggregate.ApproximatePercentile', isTemporary=True),
 Function(name=u'array', description=None, className=u'org.apache.spark.sql.catalyst.expressions.CreateArray', isTemporary=True),
 Function(name=u'array_contains', description=None, className=u'org.apache.spark.sql.catalyst.expressions.ArrayContains', isTemporary=True),
 Function(name=u'ascii', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Ascii', isTemporary=True),
 Function(name=u'asin', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Asin', isTemporary=True),
 Function(name=u'assert_true', description=None, className=u'org.apache.spark.sql.catalyst.expressions.AssertTrue', isTemporary=True),
 Function(name=u'atan', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Atan', isTemporary=True),
 Function(name=u'atan2', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Atan2', isTemporary=True),
 Function(name=u'avg', description=None, className=u'org.apache.spark.sql.catalyst.expressions.aggregate.Average', isTemporary=True),
 Function(name=u'base64', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Base64', isTemporary=True),
 Function(name=u'bigint', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name=u'bin', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Bin', isTemporary=True),
 Function(name=u'binary', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name=u'boolean', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name=u'bround', description=None, className=u'org.apache.spark.sql.catalyst.expressions.BRound', isTemporary=True),
 Function(name=u'cast', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name=u'cbrt', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Cbrt', isTemporary=True),
 Function(name=u'ceil', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Ceil', isTemporary=True),
 Function(name=u'ceiling', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Ceil', isTemporary=True),
 Function(name=u'coalesce', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Coalesce', isTemporary=True),
 Function(name=u'collect_list', description=None, className=u'org.apache.spark.sql.catalyst.expressions.aggregate.CollectList', isTemporary=True),
 Function(name=u'collect_set', description=None, className=u'org.apache.spark.sql.catalyst.expressions.aggregate.CollectSet', isTemporary=True),
 Function(name=u'concat', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Concat', isTemporary=True),
 Function(name=u'concat_ws', description=None, className=u'org.apache.spark.sql.catalyst.expressions.ConcatWs', isTemporary=True),
 Function(name=u'conv', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Conv', isTemporary=True),
 Function(name=u'corr', description=None, className=u'org.apache.spark.sql.catalyst.expressions.aggregate.Corr', isTemporary=True),
 Function(name=u'cos', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Cos', isTemporary=True),
 Function(name=u'cosh', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Cosh', isTemporary=True),
 Function(name=u'count', description=None, className=u'org.apache.spark.sql.catalyst.expressions.aggregate.Count', isTemporary=True),
 Function(name=u'count_min_sketch', description=None, className=u'org.apache.spark.sql.catalyst.expressions.aggregate.CountMinSketchAgg', isTemporary=True),
 Function(name=u'covar_pop', description=None, className=u'org.apache.spark.sql.catalyst.expressions.aggregate.CovPopulation', isTemporary=True),
 Function(name=u'covar_samp', description=None, className=u'org.apache.spark.sql.catalyst.expressions.aggregate.CovSample', isTemporary=True),
 Function(name=u'crc32', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Crc32', isTemporary=True),
 Function(name=u'cube', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Cube', isTemporary=True),
 Function(name=u'cume_dist', description=None, className=u'org.apache.spark.sql.catalyst.expressions.CumeDist', isTemporary=True),
 Function(name=u'current_database', description=None, className=u'org.apache.spark.sql.catalyst.expressions.CurrentDatabase', isTemporary=True),
 Function(name=u'current_date', description=None, className=u'org.apache.spark.sql.catalyst.expressions.CurrentDate', isTemporary=True),
 Function(name=u'current_timestamp', description=None, className=u'org.apache.spark.sql.catalyst.expressions.CurrentTimestamp', isTemporary=True),
 Function(name=u'date', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name=u'date_add', description=None, className=u'org.apache.spark.sql.catalyst.expressions.DateAdd', isTemporary=True),
 Function(name=u'date_format', description=None, className=u'org.apache.spark.sql.catalyst.expressions.DateFormatClass', isTemporary=True),
 Function(name=u'date_sub', description=None, className=u'org.apache.spark.sql.catalyst.expressions.DateSub', isTemporary=True),
 Function(name=u'datediff', description=None, className=u'org.apache.spark.sql.catalyst.expressions.DateDiff', isTemporary=True),
 Function(name=u'day', description=None, className=u'org.apache.spark.sql.catalyst.expressions.DayOfMonth', isTemporary=True),
 Function(name=u'dayofmonth', description=None, className=u'org.apache.spark.sql.catalyst.expressions.DayOfMonth', isTemporary=True),
 Function(name=u'dayofyear', description=None, className=u'org.apache.spark.sql.catalyst.expressions.DayOfYear', isTemporary=True),
 Function(name=u'decimal', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name=u'decode', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Decode', isTemporary=True),
 Function(name=u'degrees', description=None, className=u'org.apache.spark.sql.catalyst.expressions.ToDegrees', isTemporary=True),
 Function(name=u'dense_rank', description=None, className=u'org.apache.spark.sql.catalyst.expressions.DenseRank', isTemporary=True),
 Function(name=u'double', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name=u'e', description=None, className=u'org.apache.spark.sql.catalyst.expressions.EulerNumber', isTemporary=True),
 Function(name=u'elt', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Elt', isTemporary=True),
 Function(name=u'encode', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Encode', isTemporary=True),
 Function(name=u'exp', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Exp', isTemporary=True),
 Function(name=u'explode', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Explode', isTemporary=True),
 Function(name=u'explode_outer', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Explode', isTemporary=True),
 Function(name=u'expm1', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Expm1', isTemporary=True),
 Function(name=u'factorial', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Factorial', isTemporary=True),
 Function(name=u'find_in_set', description=None, className=u'org.apache.spark.sql.catalyst.expressions.FindInSet', isTemporary=True),
 Function(name=u'first', description=None, className=u'org.apache.spark.sql.catalyst.expressions.aggregate.First', isTemporary=True),
 Function(name=u'first_value', description=None, className=u'org.apache.spark.sql.catalyst.expressions.aggregate.First', isTemporary=True),
 Function(name=u'float', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name=u'floor', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Floor', isTemporary=True),
 Function(name=u'format_number', description=None, className=u'org.apache.spark.sql.catalyst.expressions.FormatNumber', isTemporary=True),
 Function(name=u'format_string', description=None, className=u'org.apache.spark.sql.catalyst.expressions.FormatString', isTemporary=True),
 Function(name=u'from_json', description=None, className=u'org.apache.spark.sql.catalyst.expressions.JsonToStructs', isTemporary=True),
 Function(name=u'from_unixtime', description=None, className=u'org.apache.spark.sql.catalyst.expressions.FromUnixTime', isTemporary=True),
 Function(name=u'from_utc_timestamp', description=None, className=u'org.apache.spark.sql.catalyst.expressions.FromUTCTimestamp', isTemporary=True),
 Function(name=u'get_json_object', description=None, className=u'org.apache.spark.sql.catalyst.expressions.GetJsonObject', isTemporary=True),
 Function(name=u'greatest', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Greatest', isTemporary=True),
 Function(name=u'grouping', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Grouping', isTemporary=True),
 Function(name=u'grouping_id', description=None, className=u'org.apache.spark.sql.catalyst.expressions.GroupingID', isTemporary=True),
 Function(name=u'hash', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Murmur3Hash', isTemporary=True),
 Function(name=u'hex', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Hex', isTemporary=True),
 Function(name=u'hour', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Hour', isTemporary=True),
 Function(name=u'hypot', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Hypot', isTemporary=True),
 Function(name=u'if', description=None, className=u'org.apache.spark.sql.catalyst.expressions.If', isTemporary=True),
 Function(name=u'ifnull', description=None, className=u'org.apache.spark.sql.catalyst.expressions.IfNull', isTemporary=True),
 Function(name=u'in', description=None, className=u'org.apache.spark.sql.catalyst.expressions.In', isTemporary=True),
 Function(name=u'initcap', description=None, className=u'org.apache.spark.sql.catalyst.expressions.InitCap', isTemporary=True),
 Function(name=u'inline', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Inline', isTemporary=True),
 Function(name=u'inline_outer', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Inline', isTemporary=True),
 Function(name=u'input_file_block_length', description=None, className=u'org.apache.spark.sql.catalyst.expressions.InputFileBlockLength', isTemporary=True),
 Function(name=u'input_file_block_start', description=None, className=u'org.apache.spark.sql.catalyst.expressions.InputFileBlockStart', isTemporary=True),
 Function(name=u'input_file_name', description=None, className=u'org.apache.spark.sql.catalyst.expressions.InputFileName', isTemporary=True),
 Function(name=u'instr', description=None, className=u'org.apache.spark.sql.catalyst.expressions.StringInstr', isTemporary=True),
 Function(name=u'int', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name=u'isnan', description=None, className=u'org.apache.spark.sql.catalyst.expressions.IsNaN', isTemporary=True),
 Function(name=u'isnotnull', description=None, className=u'org.apache.spark.sql.catalyst.expressions.IsNotNull', isTemporary=True),
 Function(name=u'isnull', description=None, className=u'org.apache.spark.sql.catalyst.expressions.IsNull', isTemporary=True),
 Function(name=u'java_method', description=None, className=u'org.apache.spark.sql.catalyst.expressions.CallMethodViaReflection', isTemporary=True),
 Function(name=u'json_tuple', description=None, className=u'org.apache.spark.sql.catalyst.expressions.JsonTuple', isTemporary=True),
 Function(name=u'kurtosis', description=None, className=u'org.apache.spark.sql.catalyst.expressions.aggregate.Kurtosis', isTemporary=True),
 Function(name=u'lag', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Lag', isTemporary=True),
 Function(name=u'last', description=None, className=u'org.apache.spark.sql.catalyst.expressions.aggregate.Last', isTemporary=True),
 Function(name=u'last_day', description=None, className=u'org.apache.spark.sql.catalyst.expressions.LastDay', isTemporary=True),
 Function(name=u'last_value', description=None, className=u'org.apache.spark.sql.catalyst.expressions.aggregate.Last', isTemporary=True),
 Function(name=u'lcase', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Lower', isTemporary=True),
 Function(name=u'lead', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Lead', isTemporary=True),
 Function(name=u'least', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Least', isTemporary=True),
 Function(name=u'length', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Length', isTemporary=True),
 Function(name=u'levenshtein', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Levenshtein', isTemporary=True),
 Function(name=u'like', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Like', isTemporary=True),
 Function(name=u'ln', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Log', isTemporary=True),
 Function(name=u'locate', description=None, className=u'org.apache.spark.sql.catalyst.expressions.StringLocate', isTemporary=True),
 Function(name=u'log', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Logarithm', isTemporary=True),
 Function(name=u'log10', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Log10', isTemporary=True),
 Function(name=u'log1p', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Log1p', isTemporary=True),
 Function(name=u'log2', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Log2', isTemporary=True),
 Function(name=u'lower', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Lower', isTemporary=True),
 Function(name=u'lpad', description=None, className=u'org.apache.spark.sql.catalyst.expressions.StringLPad', isTemporary=True),
 Function(name=u'ltrim', description=None, className=u'org.apache.spark.sql.catalyst.expressions.StringTrimLeft', isTemporary=True),
 Function(name=u'map', description=None, className=u'org.apache.spark.sql.catalyst.expressions.CreateMap', isTemporary=True),
 Function(name=u'map_keys', description=None, className=u'org.apache.spark.sql.catalyst.expressions.MapKeys', isTemporary=True),
 Function(name=u'map_values', description=None, className=u'org.apache.spark.sql.catalyst.expressions.MapValues', isTemporary=True),
 Function(name=u'max', description=None, className=u'org.apache.spark.sql.catalyst.expressions.aggregate.Max', isTemporary=True),
 Function(name=u'md5', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Md5', isTemporary=True),
 Function(name=u'mean', description=None, className=u'org.apache.spark.sql.catalyst.expressions.aggregate.Average', isTemporary=True),
 Function(name=u'min', description=None, className=u'org.apache.spark.sql.catalyst.expressions.aggregate.Min', isTemporary=True),
 Function(name=u'minute', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Minute', isTemporary=True),
 Function(name=u'monotonically_increasing_id', description=None, className=u'org.apache.spark.sql.catalyst.expressions.MonotonicallyIncreasingID', isTemporary=True),
 Function(name=u'month', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Month', isTemporary=True),
 Function(name=u'months_between', description=None, className=u'org.apache.spark.sql.catalyst.expressions.MonthsBetween', isTemporary=True),
 Function(name=u'named_struct', description=None, className=u'org.apache.spark.sql.catalyst.expressions.CreateNamedStruct', isTemporary=True),
 Function(name=u'nanvl', description=None, className=u'org.apache.spark.sql.catalyst.expressions.NaNvl', isTemporary=True),
 Function(name=u'negative', description=None, className=u'org.apache.spark.sql.catalyst.expressions.UnaryMinus', isTemporary=True),
 Function(name=u'next_day', description=None, className=u'org.apache.spark.sql.catalyst.expressions.NextDay', isTemporary=True),
 Function(name=u'not', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Not', isTemporary=True),
 Function(name=u'now', description=None, className=u'org.apache.spark.sql.catalyst.expressions.CurrentTimestamp', isTemporary=True),
 Function(name=u'ntile', description=None, className=u'org.apache.spark.sql.catalyst.expressions.NTile', isTemporary=True),
 Function(name=u'nullif', description=None, className=u'org.apache.spark.sql.catalyst.expressions.NullIf', isTemporary=True),
 Function(name=u'nvl', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Nvl', isTemporary=True),
 Function(name=u'nvl2', description=None, className=u'org.apache.spark.sql.catalyst.expressions.Nvl2', isTemporary=True),

In [149]:
df_customers.select(df_customers[0]).distinct().show()

+-------+
|CUSTKEY|
+-------+
|     26|
|     29|
|    474|
|    964|
|   1677|
|   1697|
|   1806|
|   1950|
|   2040|
|   2214|
|   2250|
|   2453|
|   2509|
|   2529|
|   2927|
|   3091|
|   3506|
|   3764|
|   4590|
|   4823|
+-------+
only showing top 20 rows

In [155]:
df_orders.select(df_orders[1].cast("int").alias("CUSTKEY"))\
         .distinct()\
         .sort("CUSTKEY")\
         .show()

+-------+
|CUSTKEY|
+-------+
|      1|
|      2|
|      4|
|      5|
|      7|
|      8|
|     10|
|     11|
|     13|
|     14|
|     16|
|     17|
|     19|
|     20|
|     22|
|     23|
|     25|
|     26|
|     28|
|     29|
+-------+
only showing top 20 rows

In [159]:
cust_ids = df_customers.select(df_customers[0]).distinct()
order_cust_ids = df_orders.select(df_orders[1].cast("int").alias("CUSTKEY")).distinct()
print("left_semi: {}".format(cust_ids.join(order_cust_ids, 
                                           order_cust_ids[0] == cust_ids[0], 
                                           "left_semi").count()))
print("left_anti: {}".format(cust_ids.join(order_cust_ids, 
                                           order_cust_ids[0] == cust_ids[0], 
                                           "left_anti").count()))

left_semi: 99996
left_anti: 50004

In [162]:
df_customers.createOrReplaceTempView("customers")
df_orders.createOrReplaceTempView("orders")

In [164]:
spark.catalog.listTables()

[Table(name=u'customers', database=None, description=None, tableType=u'TEMPORARY', isTemporary=True),
 Table(name=u'orders', database=None, description=None, tableType=u'TEMPORARY', isTemporary=True)]

In [173]:
spark.sql("select CUSTKEY from customers").union(spark.sql("select CUSTKEY from orders")).count()

1650000

In [175]:
spark.sql("""
select count(*) from orders
where CUSTKEY in (select CUSTKEY from customers)
union all
select count(*) from customers
where CUSTKEY in (select CUSTKEY from orders)
""").show()

+--------+
|count(1)|
+--------+
| 1500000|
|   99996|
+--------+

In [177]:
spark.sql("show tables").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|        |customers|       true|
|        |   orders|       true|
+--------+---------+-----------+

In [186]:
print("(" + " STRING,\n".join(schemas["NATION"]) + " STRING)")

(NATIONKEY STRING,
NAME STRING,
REGIONKEY STRING,
COMMENT STRING)

In [189]:
!ls /home/orpington/Desktop/dbgen/tpch-1

customer.tbl  metastore_db  partsupp.tbl    region.tbl
derby.log     nation.tbl    part.tbl	    supplier.tbl
lineitem.tbl  orders.tbl    region_bad.tbl

In [196]:
spark.sql("""
CREATE TABLE nation (
NATIONKEY STRING,
NAME STRING,
REGIONKEY STRING,
COMMENT STRING)
USING csv
OPTIONS (
  inferSchema true,
  header true,
  sep '|',
  path '/home/orpington/Desktop/dbgen/tpch-1/nation.tbl'
)""")

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 1))

ParseException: u"\nno viable alternative at input 'CREATE OR REPLACE TABLE'(line 2, pos 18)\n\n== SQL ==\n\nCREATE OR REPLACE TABLE nation (\n------------------^^^\nNATIONKEY STRING,\nNAME STRING,\nREGIONKEY STRING,\nCOMMENT STRING)\nUSING csv\nOPTIONS (\n  inferSchema true,\n  header true,\n  sep '|',\n  path '/home/orpington/Desktop/dbgen/tpch-1/nation.tbl'\n)\n"

In [191]:
spark.catalog.listTables()

[Table(name=u'nation', database=u'default', description=None, tableType=u'EXTERNAL', isTemporary=False),
 Table(name=u'customers', database=None, description=None, tableType=u'TEMPORARY', isTemporary=True),
 Table(name=u'orders', database=None, description=None, tableType=u'TEMPORARY', isTemporary=True)]

In [193]:
spark.sql("select * from nation limit 10").show(5)

+--------------------+--------------------+---------+-------+
|           NATIONKEY|                NAME|REGIONKEY|COMMENT|
+--------------------+--------------------+---------+-------+
|1|ARGENTINA|1|al ...|                null|     null|   null|
|2|BRAZIL|1|y alon...|                null|     null|   null|
|3|CANADA|1|eas ha...| silent packages....|     null|   null|
|4|EGYPT|4|y above...|                null|     null|   null|
|5|ETHIOPIA|0|ven ...|                null|     null|   null|
+--------------------+--------------------+---------+-------+
only showing top 5 rows

In [200]:
spark.catalog.uncacheTable("nation")

In [201]:
spark.catalog.listTables()

[Table(name=u'nation', database=u'default', description=None, tableType=u'EXTERNAL', isTemporary=False),
 Table(name=u'customers', database=None, description=None, tableType=u'TEMPORARY', isTemporary=True),
 Table(name=u'orders', database=None, description=None, tableType=u'TEMPORARY', isTemporary=True)]

In [202]:
spark.sql("drop table nation")

DataFrame[]

In [203]:
spark.catalog.listTables()

[Table(name=u'customers', database=None, description=None, tableType=u'TEMPORARY', isTemporary=True),
 Table(name=u'orders', database=None, description=None, tableType=u'TEMPORARY', isTemporary=True)]

In [204]:
spark.sql("""
CREATE TABLE nation (
NATIONKEY STRING,
NAME STRING,
REGIONKEY STRING,
COMMENT STRING)
USING csv
OPTIONS (
  inferSchema true,
  header true,
  sep '|',
  path '/home/orpington/Desktop/dbgen/tpch-1/nation.tbl'
)""")

DataFrame[]

In [206]:
spark.sql("select * from nation limit 5").show()

+---------+---------+---------+--------------------+
|NATIONKEY|     NAME|REGIONKEY|             COMMENT|
+---------+---------+---------+--------------------+
|        1|ARGENTINA|        1|al foxes promise ...|
|        2|   BRAZIL|        1|y alongside of th...|
|        3|   CANADA|        1|eas hang ironic, ...|
|        4|    EGYPT|        4|y above the caref...|
|        5| ETHIOPIA|        0|ven packages wake...|
+---------+---------+---------+--------------------+

In [207]:
!cat /home/orpington/Desktop/dbgen/tpch-1/nation.tbl > /tmp/nation_tmp.tbl

In [209]:
spark.sql("""
CREATE TABLE nation_tmp (
NATIONKEY STRING,
NAME STRING,
REGIONKEY STRING,
COMMENT STRING)
USING csv
OPTIONS (
  inferSchema true,
  header true,
  sep '|',
  path '/tmp/nation_tmp.tbl'
)""")

DataFrame[]

In [212]:
spark.sql("select * from nation_tmp").count()

24

In [215]:
!cat /home/orpington/Desktop/dbgen/tpch-1/nation.tbl >> /tmp/nation_tmp.tbl

In [216]:
spark.sql("select * from nation_tmp").count()

25

In [217]:
spark.catalog.uncacheTable("nation_tmp")

In [218]:
spark.sql("select * from nation_tmp").count()

25

In [219]:
!wc -l /tmp/nation_tmp.tbl

75 /tmp/nation_tmp.tbl

In [221]:
spark.sql("create table nation_tmp_2 as select * from nation_tmp")

AnalysisException: u"Hive support is required to CREATE Hive TABLE (AS SELECT);;\n'CreateTable `nation_tmp_2`, org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe, ErrorIfExists\n+- Project [NATIONKEY#5809, NAME#5810, REGIONKEY#5811, COMMENT#5812]\n   +- SubqueryAlias nation_tmp\n      +- Relation[NATIONKEY#5809,NAME#5810,REGIONKEY#5811,COMMENT#5812] csv\n"

In [222]:
spark.sql("""
CREATE TABLE nation_partitioned (
NATIONKEY STRING,
NAME STRING,
REGIONKEY STRING,
COMMENT STRING)
USING csv
PARTITIONED BY (REGIONKEY)
OPTIONS (
  inferSchema true,
  header true,
  sep '|',
  path '/tmp/nation_tmp.tbl'
)""")

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 1))

ParseException: u"\nmismatched input 'OPTIONS' expecting <EOF>(line 9, pos 0)\n\n== SQL ==\n\nCREATE TABLE nation_partitioned (\nNATIONKEY STRING,\nNAME STRING,\nREGIONKEY STRING,\nCOMMENT STRING)\nUSING csv\nPARTITIONED BY (REGIONKEY)\nOPTIONS (\n^^^\n  inferSchema true,\n  header true,\n  sep '|',\n  path '/tmp/nation_tmp.tbl'\n)\n"

In [223]:
spark.sql("describe table nation_tmp").show()

+---------+---------+-------+
| col_name|data_type|comment|
+---------+---------+-------+
|NATIONKEY|   string|   null|
|     NAME|   string|   null|
|REGIONKEY|   string|   null|
|  COMMENT|   string|   null|
+---------+---------+-------+

In [224]:
spark.sql("REFRESH table nation_tmp")

DataFrame[]

In [225]:
spark.sql("MSCK REPAIR TABLE nation_tmp")

AnalysisException: u'Operation not allowed: MSCK REPAIR TABLE only works on partitioned tables: `default`.`nation_tmp`;'

In [228]:
spark.sql("EXPLAIN SELECT * FROM nation_tmp").show(1, False)

+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|plan                                                                                                                                                                                                                                                                                                                    |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|== Physical Plan ==
*FileScan csv default.nation_tmp[NATIONKEY#5870,NAME#5871,REGIONKEY#5872,COMMENT#5873] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/tmp/nation_tmp.tbl], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<NATIONKEY:string,NAME:string,REGIONKEY:string,COMMENT:string>|
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [229]:
spark.sql("show databases").show()

+------------+
|databaseName|
+------------+
|     default|
+------------+

In [230]:
spark.sql("create database herp").show()

++
||
++
++

In [231]:
spark.sql("show databases").show()

+------------+
|databaseName|
+------------+
|     default|
|        herp|
+------------+

In [232]:
spark.sql("use herp")

DataFrame[]

In [233]:
spark.sql("select * from nation_tmp").show()

AnalysisException: u'Table or view not found: nation_tmp; line 1 pos 14'

In [234]:
spark.sql("select * from default.nation_tmp").show()

+---------+------------+---------+--------------------+
|NATIONKEY|        NAME|REGIONKEY|             COMMENT|
+---------+------------+---------+--------------------+
|        1|   ARGENTINA|        1|al foxes promise ...|
|        2|      BRAZIL|        1|y alongside of th...|
|        3|      CANADA|        1|eas hang ironic, ...|
|        4|       EGYPT|        4|y above the caref...|
|        5|    ETHIOPIA|        0|ven packages wake...|
|        6|      FRANCE|        3|refully final req...|
|        7|     GERMANY|        3|l platelets. regu...|
|        8|       INDIA|        2|ss excuses cajole...|
|        9|   INDONESIA|        2| slyly express as...|
|       10|        IRAN|        4|efully alongside ...|
|       11|        IRAQ|        4|nic deposits boos...|
|       12|       JAPAN|        2|ously. final, exp...|
|       13|      JORDAN|        4|ic deposits are b...|
|       14|       KENYA|        0| pending excuses ...|
|       15|     MOROCCO|        0|rns. blithely bol...|
|       16|  MOZAMBIQUE|        0|s. ironic, unusua...|
|       17|        PERU|        1|platelets. blithe...|
|       18|       CHINA|        2|c dependencies. f...|
|       19|     ROMANIA|        3|ular asymptotes a...|
|       20|SAUDI ARABIA|        4|ts. silent reques...|
+---------+------------+---------+--------------------+
only showing top 20 rows

In [235]:
spark.sql("use default")

DataFrame[]

In [237]:
spark.sql("select current_database()").show()

+------------------+
|current_database()|
+------------------+
|           default|
+------------------+

In [238]:
spark.sql("drop database if exists herp")

DataFrame[]

In [240]:
spark.sql("show databases").show()

+------------+
|databaseName|
+------------+
|     default|
+------------+

In [241]:
orders.createGlobalTempView("orders_global")

In [243]:
spark.sql("show databases").show()

+------------+
|databaseName|
+------------+
|     default|
+------------+

In [245]:
spark.sql("select * from global_temp.orders_global").show()

+---+------+---+---------+----------+---------------+---------------+---+--------------------+----+
|_c0|   _c1|_c2|      _c3|       _c4|            _c5|            _c6|_c7|                 _c8| _c9|
+---+------+---+---------+----------+---------------+---------------+---+--------------------+----+
|  1| 36901|  O|173665.47|1996-01-02|          5-LOW|Clerk#000000951|  0|nstructions sleep...|null|
|  2| 78002|  O| 46929.18|1996-12-01|       1-URGENT|Clerk#000000880|  0| foxes. pending a...|null|
|  3|123314|  F|193846.25|1993-10-14|          5-LOW|Clerk#000000955|  0|sly final account...|null|
|  4|136777|  O| 32151.78|1995-10-11|          5-LOW|Clerk#000000124|  0|sits. slyly regul...|null|
|  5| 44485|  F|144659.20|1994-07-30|          5-LOW|Clerk#000000925|  0|quickly. bold dep...|null|
|  6| 55624|  F| 58749.59|1992-02-21|4-NOT SPECIFIED|Clerk#000000058|  0|ggle. special, fi...|null|
|  7| 39136|  O|252004.18|1996-01-10|         2-HIGH|Clerk#000000470|  0|ly special requests |null|
| 32|130057|  O|208660.75|1995-07-16|         2-HIGH|Clerk#000000616|  0|ise blithely bold...|null|
| 33| 66958|  F|163243.98|1993-10-27|       3-MEDIUM|Clerk#000000409|  0|uriously. furious...|null|
| 34| 61001|  O| 58949.67|1998-07-21|       3-MEDIUM|Clerk#000000223|  0|ly final packages...|null|
| 35|127588|  O|253724.56|1995-10-23|4-NOT SPECIFIED|Clerk#000000259|  0|zzle. carefully e...|null|
| 36|115252|  O| 68289.96|1995-11-03|       1-URGENT|Clerk#000000358|  0| quick packages a...|null|
| 37| 86116|  F|206680.66|1992-06-03|       3-MEDIUM|Clerk#000000456|  0|kly regular pinto...|null|
| 38|124828|  O| 82500.05|1996-08-21|4-NOT SPECIFIED|Clerk#000000604|  0|haggle blithely. ...|null|
| 39| 81763|  O|341734.47|1996-09-20|       3-MEDIUM|Clerk#000000659|  0|ole express, iron...|null|
| 64| 32113|  F| 39414.99|1994-07-16|       3-MEDIUM|Clerk#000000661|  0|wake fluffily. so...|null|
| 65| 16252|  P|110643.60|1995-03-18|       1-URGENT|Clerk#000000632|  0|ular requests are...|null|
| 66|129200|  F|103740.67|1994-01-20|          5-LOW|Clerk#000000743|  0|y pending request...|null|
| 67| 56614|  O|169405.01|1996-12-19|4-NOT SPECIFIED|Clerk#000000547|  0|symptotes haggle ...|null|
| 68| 28547|  O|330793.52|1998-04-18|       3-MEDIUM|Clerk#000000440|  0| pinto beans slee...|null|
+---+------+---+---------+----------+---------------+---------------+---+--------------------+----+
only showing top 20 rows

In [246]:
spark.newSession().sql("select * from global_temp.orders_global").show()

+---+------+---+---------+----------+---------------+---------------+---+--------------------+----+
|_c0|   _c1|_c2|      _c3|       _c4|            _c5|            _c6|_c7|                 _c8| _c9|
+---+------+---+---------+----------+---------------+---------------+---+--------------------+----+
|  1| 36901|  O|173665.47|1996-01-02|          5-LOW|Clerk#000000951|  0|nstructions sleep...|null|
|  2| 78002|  O| 46929.18|1996-12-01|       1-URGENT|Clerk#000000880|  0| foxes. pending a...|null|
|  3|123314|  F|193846.25|1993-10-14|          5-LOW|Clerk#000000955|  0|sly final account...|null|
|  4|136777|  O| 32151.78|1995-10-11|          5-LOW|Clerk#000000124|  0|sits. slyly regul...|null|
|  5| 44485|  F|144659.20|1994-07-30|          5-LOW|Clerk#000000925|  0|quickly. bold dep...|null|
|  6| 55624|  F| 58749.59|1992-02-21|4-NOT SPECIFIED|Clerk#000000058|  0|ggle. special, fi...|null|
|  7| 39136|  O|252004.18|1996-01-10|         2-HIGH|Clerk#000000470|  0|ly special requests |null|
| 32|130057|  O|208660.75|1995-07-16|         2-HIGH|Clerk#000000616|  0|ise blithely bold...|null|
| 33| 66958|  F|163243.98|1993-10-27|       3-MEDIUM|Clerk#000000409|  0|uriously. furious...|null|
| 34| 61001|  O| 58949.67|1998-07-21|       3-MEDIUM|Clerk#000000223|  0|ly final packages...|null|
| 35|127588|  O|253724.56|1995-10-23|4-NOT SPECIFIED|Clerk#000000259|  0|zzle. carefully e...|null|
| 36|115252|  O| 68289.96|1995-11-03|       1-URGENT|Clerk#000000358|  0| quick packages a...|null|
| 37| 86116|  F|206680.66|1992-06-03|       3-MEDIUM|Clerk#000000456|  0|kly regular pinto...|null|
| 38|124828|  O| 82500.05|1996-08-21|4-NOT SPECIFIED|Clerk#000000604|  0|haggle blithely. ...|null|
| 39| 81763|  O|341734.47|1996-09-20|       3-MEDIUM|Clerk#000000659|  0|ole express, iron...|null|
| 64| 32113|  F| 39414.99|1994-07-16|       3-MEDIUM|Clerk#000000661|  0|wake fluffily. so...|null|
| 65| 16252|  P|110643.60|1995-03-18|       1-URGENT|Clerk#000000632|  0|ular requests are...|null|
| 66|129200|  F|103740.67|1994-01-20|          5-LOW|Clerk#000000743|  0|y pending request...|null|
| 67| 56614|  O|169405.01|1996-12-19|4-NOT SPECIFIED|Clerk#000000547|  0|symptotes haggle ...|null|
| 68| 28547|  O|330793.52|1998-04-18|       3-MEDIUM|Clerk#000000440|  0| pinto beans slee...|null|
+---+------+---+---------+----------+---------------+---------------+---+--------------------+----+
only showing top 20 rows